[2020-01-08 21:21] MarkBergman-cbica commented on #752
Does this mean you're using CaPTk 1.6.0?

If so, please try the latest release (1.7.3): https://www.nitrc.org/frs/?group_id=1059

[2020-01-09 15:04] sarthakpati commented on #84
The docking was not working on Linux before. I am assuming this has been fixed with your changes?

[2020-01-09 15:06] sarthakpati commented on #725
I have not worked on this, so I should not be assigned this task. Unassigned.

[2020-01-09 15:07] sarthakpati commented on #752
The modality can be changed. Please see related documentation: https://cbica.github.io/CaPTk/Getting_Started.html#gs_imageLoading

[2020-01-09 15:08] sarthakpati commented on #743
Cannot replicate on 1.7.3 on multiple Windows (7 & 10) machines.

[2020-01-09 16:56] dboun commented on #743
Linux Mint 19.2:

- Pressing itksnap without images -> it says please load some images
- Pressing itksnap with images -> it says mask file has no pixels greater than 0
- Pressing itksnap with some drawing on the ROI image -> it says 'Mask saved from ITK-SNAP loaded' (itk-snap never opened)

[2020-01-09 20:45] dboun opened #775 "Can't build DEBUG under linux (At least the superbuild)"
**Describe the bug**
Setting ```CMAKE_BUILD_TYPE``` to ```Debug``` has no effect in Linux. Possibly because of
[code]
existing in multiple places at CaPTk/External-***.cmake, which forces a ```Release``` build

[one example where it shows up in the code](https://github.com/CBICA/CaPTk/blob/4252d709e691b921a0a9e74e176e8f64bb316466/cmake_modules/External-ITK.cmake#L18)

**Expected behavior**
Being a

[2020-01-09 20:45] dboun commented on #775
@Getkablue had this issue, and apparently it is the same for me too.

@sarthakpati can you provide some context?

[2020-01-09 21:33] dboun commented on #775
Also [[here]](https://github.com/CBICA/CaPTk/blob/4252d709e691b921a0a9e74e176e8f64bb316466/cmake_modules/Superbuild.cmake#L8):

[code]

[2020-01-10 14:35] sarthakpati opened #776 "Feature Extraction doesn't write a file"
**Describe the bug**
FE is not writing out a file

**To Reproduce**
Steps to reproduce the behavior:
1. Select any image and mask and try to run default FE

**Expected behavior**
Output should be written.

**CaPTk Version**
1.7.3

**Desktop (please complete the following information):**
 - OS: [e.g. Windows/Linux (include detailed distro information)/macOS]
 - Version (including Build information,

[2020-01-10 14:40] sarthakpati commented on #775
Ah yes. This is because doing "Debug" build with GCC messes up the entire compilation, for some reason. I have not investigated it in detail, but I remember that at one time, there was a linkage issue between OpenCV and ITK while doing a debug build. This *may* be solved in some newer tags of these libraries.

[2020-01-10 14:41] sarthakpati commented on #776
Done.

[2020-01-10 14:41] #776 closed

[2020-01-10 14:45] sarthakpati commented on #716
Would it be possible for you to share the files (input images, segmentation and feature parameters) in question (either here or securely directly to my email)?

[2020-01-10 14:56] sarthakpati commented on #766
I think this has been fixed in 1.7.3. Please comment/reopen if you are able to reproduce this in the latest release. Thank you.

[2020-01-10 14:56] #766 closed

[2020-01-10 15:05] sarthakpati commented on #735
Fixed.

[2020-01-10 15:05] #735 closed

[2020-01-10 15:06] sarthakpati commented on #734
So, the idea is that the users see this location and change to some place appropriate. Do you have a suggestion as to where else the default should be?

[2020-01-10 15:08] ashishsingh18 commented on #775
I faced this issue too and had to manually modify the cmake files to get it to work.

[2020-01-10 15:13] ashishsingh18 commented on #725
@sarthakpati Sphere drawing implementation was done by you.

[2020-01-10 15:25] sarthakpati opened #778 "For FeatureExtraction Panel, add Vertical Concatenation as a check-box"

[2020-01-10 15:44] dboun commented on #775
We managed to get it to work on Alex's machine but hardcoded debug at some places and now we are checking if it works without them. Will open a pull request if it works

[2020-01-10 15:57] ashishsingh18 commented on #721
There is no easy way to fix this. All other major software such as Slicer, MITK workbench behave the same way. Others do not give an option to change font at all. We knew this issue before implementation. @sarthakpati and I also discussed about it before implementation. We show a preview of the effect as the new font selection happens so the assumption is that the user knows what is being done. Be

[2020-01-10 16:06] sarthakpati commented on #778
Done.

[2020-01-10 16:06] #778 closed

[2020-01-10 16:07] sarthakpati commented on #730
Fixed. Please reopen/comment if this persists in the new build(s).

[2020-01-10 16:07] #730 closed

[2020-01-10 16:08] sarthakpati commented on #729
This is a generic issue for the GUI. The processing _should_ be offloaded to a separate thread.

[2020-01-10 16:09] sarthakpati commented on #764
This is actually correlated with what the user sees on the 3 screens, with axial in the middle. :)

[2020-01-10 16:12] sarthakpati commented on #725
Argh, forgot about that (#412). Anyway, investigating...

[2020-01-10 16:51] sarthakpati commented on #752
I have elaborated the error message to be the following:

Is this more acceptable, @eac-upenn?

[2020-01-10 17:05] sarthakpati commented on #725
For some weird reason, the following piece of code is getting invoked twice during sphere drawing:

Which messes up the undo function. Investing why this is happening.

[2020-01-10 19:11] sarthakpati commented on #725
Followed the chain of all drawing events:
[code]

For some reason, there are **2** ```mActions``` getting added for Sphere drawing but **1** for all the others. No idea why this is happening and I need some help in tracking this down.

[2020-01-10 19:36] sarthakpati opened #779 "2D features are not getting extracted"
**Describe the bug**
Features for 2D images are not getting extracted.

**To Reproduce**
Steps to reproduce the behavior:
1. Use 2D image+mask to run FE

**Expected behavior**
It should work.

**CaPTk Version**
1.7.3

**Additional context**
Reported by Omid.

[2020-01-10 19:44] sarthakpati commented on #779
Done.

[2020-01-10 19:44] #779 closed

[2020-01-11 15:10] sarthakpati opened #780 "When unregistered images are loaded, automatically open registration dialog"
**Is your feature request related to a problem? Please describe.**
When a user tries to open unregistered images, the error saying that CaPTk cannot open unregistered images is not very helpful.

**Describe the solution you'd like**
When a user is trying to open unregistered images, along with giving an error saying that CaPTk cannot load these images, open the registration dialog box right after.

[2020-01-11 15:17] sarthakpati commented on #780
Fixed.

[2020-01-11 15:17] #780 closed

[2020-01-11 18:55] ashishsingh18 commented on #323
@sarthakpati Can you please add steps to reproduce this issue?

[2020-01-11 19:01] ashishsingh18 commented on #193
Done.

[2020-01-11 19:01] #193 closed

[2020-01-11 19:06] ashishsingh18 commented on #52
This needs a complete drawing rewrite.

[2020-01-12 11:59] sarthakpati commented on #323
This is done, as well.

[2020-01-12 11:59] #323 closed

[2020-01-13 04:07] dboun opened #782 "Can't drag n drop images to the undocked image panel."
**Describe the bug**
Can't drag n drop images to the undocked image panel. Drag n dropping only works for the main window

**To Reproduce**
Steps to reproduce the behavior:
1. Undock image panel
2. Drag n drop images to it (doesn't work)
3. Drag n drop images to the main window behind it (works)

**Expected behavior**
Users usually/naturally will try to drag n drop images to the image panel.

**Ca

[2020-01-13 15:22] AlexanderGetka-cbica opened #783 "Crash when changing opacity with no images loaded"
**Describe the bug**
When changing the opacity dropdown on the drawing panel, if an image is not loaded, CaPTk will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Start CaPTk
2. Click the drawing tab
3. Change the opacity dropdown to anything besides 1.0
4. CaPTk crashes (segmentation fault).

**Expected behavior**
Opacity dropdown should change without the program crashing.

**Scree

[2020-01-13 17:48] sarthakpati commented on #725
Done. Thanks, @ashishsingh18

[2020-01-13 17:48] #725 closed

[2020-01-13 19:21] ashishsingh18 commented on #725
Welcome @sarthakpati, A good side effect - the unwanted memory allocation for shapebuffer was also handled.

[2020-01-13 19:39] sarthakpati commented on #725
Reference: https://github.com/CBICA/CaPTk/pull/781/commits/05e5523323980f1da199b0f092c8293eea0e544e#diff-e6517bfa16157ee163eb8b82a705e758R300

[2020-01-13 21:16] eac-upenn commented on #721
I'm 100% that the efficient way to fix this is just to not let the user change the UI font or size. If we want to get fancy in the future, offer Normal and Large, or even Small,. Normal, and Large UI options. But if we're offering more customizability than the Windows UI we're bending over backwards.

(Mind you, this assumes that we deal gracefully with high density monitors.)

[2020-01-14 04:27] ashishsingh18 opened #785 "CaPTk hogs memory"
Description:
CaPTk hogs memory

Steps to reproduce the behavior:
1. Load an image in CaPTk (ex: http://www.dclunie.com/pixelmedimagearchive/upmcdigitalmammotomocollection/index.html )
2. Open Task Manager and see memory usage
3. Load the same image in MITK and check memory usage

Screenshots:
Please see the screenshots when 1 image of 900MB was loaded into CaPTk vs MITK

![image](https://user-imag

[2020-01-14 04:45] dboun commented on #785
(note that in the screenshot it just reaches the maximum of the system. With an 1GB image in a 32GB machine it reached 20GB+ of memory usage)

[2020-01-14 14:38] chiharusako opened #786 "make EGFRvIII and Survival input file names consistent"
Can we please make the input segmentation file names the consistent for EGFRvIII-SVM, Survival, Recurrence and Molecular subtype? As all these predictors are designed to be used for preop images, users should be able to use the same segmentation for all. As of now some needs to be named 'label' and some 'segmentation'.

Thanks so much

[2020-01-14 16:03] AlexanderGetka-cbica opened #787 "running the pseudoprogression infiltration index crashes CaPTk"
**Describe the bug**
CaPTk crashes when you try to run the glioblastoma pseudoprogression infiltration index

**To Reproduce**
Steps to reproduce the behavior:
1. Open CaPTk
2. Go to Applications -> Glioblastoma PseudoProgression Infiltration Index
3. Click the "Pseudo-Progression estimation on a batch of subjects" radio button
4. Enter appropriate model and test directories (instructions for file

[2020-01-14 16:32] ashishsingh18 commented on #785
@dboun  20GB was in Debug mode

[2020-01-14 16:49] sarthakpati commented on #785
I think a big reason behind this is the fact that CaPTk **always** loads images as Floats whereas MITK does not. And that is done on CaPTk to facilitate easier computation and not having to cast. In any case, this is simply a no-go but I am not sure if this is something we want to tackle now.

[2020-01-14 17:01] AlexanderGetka-cbica commented on #237
I can't seem to replicate this on Ubuntu 18.04 running CaPTk 1.7.2 or later.

[2020-01-14 17:03] dboun commented on #785
I don't think that float images can make memory usage get to 20x+ the image size. It's probably because multiple copies are generated somehow.

Yes, but it was maxed out on the 32GB system too. It could have been more

[2020-01-14 18:40] ashishsingh18 commented on #785
We can't be tackling this now. It needs a lot of refactoring. But perhaps when we are all looking at adding new code or fixing bugs, it might be better to also keep the memory footprint in mind.
And if we come across anything specific in the code, we can discuss it in our meetings.

[2020-01-14 19:32] AlexanderGetka-cbica commented on #238
I tried to replicate this on Ubuntu 18.04 and did not see the dialog box close in the case of either training a new model or testing. In both cases the program froze for a few minutes, then completed the operation before the dialog box ever closed.

[2020-01-14 20:08] AlexanderGetka-cbica commented on #783
I have a fix for this issue in my fork. It will be included in my next pull request.

[2020-01-14 20:08] #783 closed

[2020-01-14 20:13] AlexanderGetka-cbica commented on #322
This issue has been fixed in my fork. The fix will be in my next pull request.

[2020-01-14 20:13] #322 closed

[2020-01-15 18:50] saimarathore opened #789 "SurvivalPredictor generates the same result for different patients"
SurvivalPredictor generates the same result for different patients
version=1.7.3
Desktop Windows

[2020-01-15 18:52] ashishsingh18 commented on #789
@saimarathore Please add the steps to replicate.

[2020-01-15 19:06] ashishsingh18 commented on #618
Unable to replicate.

[2020-01-15 19:06] #618 closed

[2020-01-15 19:09] ashishsingh18 commented on #84
Fixed.

[2020-01-15 19:09] #84 closed

[2020-01-15 19:26] #238 closed

[2020-01-15 19:40] ashishsingh18 commented on #42
Fixed.

[2020-01-15 19:40] #42 closed

[2020-01-16 00:54] dboun opened #792 "CaPTk linux installer prompts you to run CaPTk using the wrong command"
**Describe the bug**
After installation, the installer says ```To run CaPTk, enter the command "./CaPTk/1.7.5.nonRelease.20200114/captk" in your console.``` regardless of the ```--target``` install dir.

**To Reproduce**
Steps to reproduce the behavior:
1. Download CaPTk installer
2. run ```./CaPTk_1.7.5.nonRelease.20200114_Installer.bin --target $HOME/Programs``` or similar
3. Installer indeed in

[2020-01-16 15:54] #753 closed

[2020-01-17 15:42] sarthakpati opened #796 "Feature Extraction extracts for all subjects even when "selected image" is turned on"
**Describe the bug**
FE is always extracting features for **all** loaded images.

**To Reproduce**
Steps to reproduce the behavior:
1. Load multiple images to CaPTk and mask
2. Enable "Feature Extraction from Selected Image" (see screenshot)
3. Extract Features
4. Upon opening the file, features from all images are extracted

**Expected behavior**
Only the selected image should produce features.

[2020-01-17 15:47] dboun opened #797 "[Linux] CaPTk builds with embedded qt but doesn't run. External Qt works"
**Describe the bug**
title. _(My current build of CaPTk is with external qt. I'm building it separately with embedded qt so I will update with the output in the future)_

**To Reproduce**
Steps to reproduce the behavior:
1. make
2. make install/strip
3. go to install dir
4. bin/captk (it works only with external qt)

**CaPTk Version**
1.7.5

**Desktop (please complete the following information):**

[2020-01-17 15:49] dboun commented on #797
@sarthakpati here you go. I will update with the actual output when it finishes building

[2020-01-17 15:57] dboun commented on #692
So the installer now works with --target, but if you don't specify it it doesn't install it anywhere (the old behaviour was to install in $HOME/CaPTk

@ashishsingh18 @AlexanderGetka-cbica

[2020-01-17 15:58] PhucNgo1711 commented on #692
@dboun can you check if it installs to where the installer was downloaded? So without specifying --target it would install to the same directory as the installer

[2020-01-17 17:00] sarthakpati opened #798 "FeatureExtraction fails when multiple processes try to access same parameter file"
**Describe the bug**
When multiple processes try to use the same parameter file, FE crashes and messes the file up.

**Additional context**
Reported by Omid when trying to run 20k FE jobs together.

[2020-01-17 17:00] sarthakpati commented on #798
This can be solved be checking for File locks.

[2020-01-17 17:03] dboun commented on #692
It does not

[2020-01-17 17:21] sarthakpati commented on #798
Perhaps this could be a solution: https://en.cppreference.com/w/cpp/thread/shared_lock/lock

[2020-01-17 18:55] dboun commented on #797
@sarthakpati got the whole output. See 'Describe the bug' section

[2020-01-17 19:35] sarthakpati commented on #796
Fixed.

[2020-01-17 19:35] #796 closed

[2020-01-17 20:47] sarthakpati opened #800 "Developer-focused Documentation"
**Is your feature request related to a problem? Please describe.**
The documentation doesn't have a lot of resources for Developers, especially stuff about the functionality written into CaPTk's APIs. Information on that is tough to find.

**Describe the solution you'd like**
Add ```*.h``` to the Doxygen config.

[2020-01-17 22:07] sarthakpati commented on #800
Got this to work but it needs GhostScript for class diagrams. Trying to see if there can be a work-around.

[2020-01-21 02:53] dboun opened #801 "Weird drag n drop behavior with drag n dropping multiple perfusion images"
**Describe the bug**
See title and "reproduce" section

**To Reproduce**
Steps to reproduce the behavior:
1. Download pseudoprogression testing data
2. Navigate to testing/AAMA/PERFUSION in the data
3. Drag n drop all 4 images
4. CaPTk says: ```Extensions for the following files were not supported, CaPTk will try to load the rest```
5. Hit close all in CaPTk
6. Drag n drop the same 4 images **but

[2020-01-21 02:57] dboun commented on #787
Similarly, when I try to run it on Linux Mint 19.3 (similar to ubuntu 18.04) I get

```The specified directory does not have model files.```

but I'm pretty sure I supplied the correct model dir

[2020-01-21 03:14] dboun commented on #787
Survival, which follows the same interface, doesn't work for my either, it says:

```No patient inside the given input directory has required scans```

[2020-01-21 14:10] sarthakpati commented on #798
This is only an **in-process** lock and doesn't work globally. We need a cross-platform, global solution that doesn't rely on pulling in Boost.

[2020-01-21 14:26] sarthakpati commented on #798
Really wary of putting this functionality. This answer sums up what I have found, so far: https://stackoverflow.com/a/2059059/1228757

[2020-01-21 15:38] ashishsingh18 commented on #762
Done.

[2020-01-21 15:38] #762 closed

[2020-01-21 15:39] ashishsingh18 commented on #724
Done.

[2020-01-21 15:39] #724 closed

[2020-01-21 15:39] ashishsingh18 commented on #723
Done.

[2020-01-21 15:39] #723 closed

[2020-01-21 19:33] dboun commented on #798
@sarthakpati Honestly, at this point I think you should go for https://doc.qt.io/qt-5/qlockfile.html

Qt is already part of the repo anyway, you aren't saving anything by not using (unless you do a build with static libraries, but still it's way easier than anything else)

[2020-01-22 13:58] sarthakpati commented on #773
LFS and submodules are separate things in the Git world. This issue has been fixed with https://github.com/sarthakpati/CaPTk/commit/69d156c269831ccf9f2c5d7a873f0ff17897a14f

[2020-01-22 13:59] #773 closed

[2020-01-22 14:29] sarthakpati commented on #798
This commit (https://github.com/sarthakpati/CaPTk/commit/f45f85221f5cfae7ce626bb64bacc9dbf53358e3) provides a temporary workaround. This issue still needs a solid concurrency solution.

[2020-01-22 21:33] dboun commented on #787
@saimarathore LOOKHERE

[2020-01-23 01:49] sarthakpati commented on #798
The parameter file writing is now removed (https://github.com/CBICA/CaPTk/pull/802/commits/5f761fd58823530c07f587c3a85f1e0a3ad72f77)

[2020-01-23 01:49] #798 closed

[2020-01-23 04:49] dboun opened #804 "[LINUX] CAPTK_BUILD_OPTION builds "Release" regardless of selection (in build, not superbuild)"
**Describe the bug**
_title_
Probably related to issue #775 (were the fixes for this ever upstreamed?). Regardless, #775 was for the superbuild, this is for the build.

**To Reproduce**
Steps to reproduce the behavior:
1. Do "Debug" superbuild. There is no CAPTK_BUILD_OPTION, just set CMAKE_BUILD_TYPE to "Debug" manually.
2. Open cmake in build configure+generate etc
3. Set CMAKE_BUILD_TYPE to "De

[2020-01-23 16:13] #800 closed

[2020-01-23 20:08] AlexanderGetka-cbica commented on #782
Fixed in PR#803

[2020-01-23 20:08] #782 closed

[2020-01-23 21:07] dboun commented on #787
![Screenshot from 2020-01-23 16-06-24](https://user-images.githubusercontent.com/39439832/73023878-62631380-3dfa-11ea-8ae7-e99240b1401e.png)

@saimarathore I tried on the current master of CaPTk. Survival did work. Pseudoprogression **didn't**, see screenshot

[2020-01-23 21:47] dboun commented on #743
ITK-SNAP doesn't work on Ubuntu 18.04 and derivatives because it requires a system library called ```libpng12.so``` that has since been deprecated (it was part of 16.04 or something) [[source]](https://askubuntu.com/a/895903)

[code]

[2020-01-27 17:40] ashishsingh18 commented on #688
Done.

[2020-01-27 17:40] #688 closed

[2020-01-27 19:28] sarthakpati commented on #233
Done.

[2020-01-27 19:28] #233 closed

[2020-01-27 19:41] dboun opened #808 "Feature Extraction with segmentation labels in only one slice"
**Describe the bug**
With 3D image + 3D mask. Draw on mask on only one slice. Feature extraction crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a (real) 3D image to CaPTk
2. Go to "drawing tools" > choose "Circle" > draw a circle in only one slice
3. Run lattice feature extraction > crash

**Expected behavior**
If there is actually no lattice points in the thin slice as I am a

[2020-01-27 19:58] sarthakpati commented on #808
Is this still an issue on the newer builds?

[2020-01-27 20:12] ashishsingh18 commented on #808
@dboun can you try this on version 1.7.5?

[2020-01-27 21:05] sarthakpati commented on #808
This is still there in the new builds; I just confirmed.

Is there an easy way to detect such a mask in ITK?

[2020-01-27 21:09] sarthakpati commented on #808
Running 1.7.3:

![image](https://user-images.githubusercontent.com/11719673/73214039-5db29e00-411f-11ea-8cfd-76ce3e9e330e.png)

Features successfully generated.

[2020-01-27 21:17] sarthakpati commented on #808
Running on 1.7.3 (all defaults):

![image](https://user-images.githubusercontent.com/11719673/73214511-5a6be200-4120-11ea-9c48-b3c0b4b85836.png)

Features successfully extracted:

![image](https://user-images.githubusercontent.com/11719673/73214547-6c4d8500-4120-11ea-9c05-7973fb101c75.png)

It would be helpful to provide the mask.

[2020-01-28 01:33] sarthakpati commented on #797
Were you trying to build the Debug version?

[2020-01-28 03:03] dboun commented on #797
Yes

[2020-01-28 03:04] dboun commented on #797
But this happens in release too

[2020-01-28 13:25] sarthakpati commented on #797
I tried this build on a Linux (Ubuntu 18.04) VM last night and it went off without a hitch. I'm guessing we need to have documentation on which Linux distros we have tested this pipeline on, since it is logistically not possible for us to support all distros out there.

[2020-01-28 15:42] dboun opened #810 "Feature Extraction doesn't work at all in 1.7.6"
**Describe the bug**
It says error: "No valid images selected!"

**To Reproduce**
Steps to reproduce the behavior:
1. Load 1+ (brain?) images
2. Load their segmentation
3. feature extraction panel > 'Compute + Save'
4. See error

**Screenshots**
![CaPTk-FE-issue](https://user-images.githubusercontent.com/39439832/73279275-e03c6b80-41ba-11ea-9d05-5de2f2c6325b.png)

**CaPTk Version**
1.7.6 (stable)

[2020-01-28 15:48] dboun commented on #808
@sarthakpati
I tried to run it on 1.7.6 but couldn't because of #810

As far as 1.7.3 goes, I realized that my 1.7.3 was a beta and not the stable one, that may play a role.

I tried it on 1.7.5 and it worked, so I'm closing this as maybe-fixed/non-reproducable

[2020-01-28 15:48] #808 closed

[2020-01-28 16:24] sarthakpati opened #811 "Mask Opacity defaults to 0.1, but it should be 1.0"
**Describe the bug**
The mask opacity does not get initialized properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Load image + ROI

**Expected behavior**
Mask Opacity should default to 1.0.

**Screenshots**
If applicable, add screenshots to help explain your problem
![image](https://user-images.githubusercontent.com/11719673/73283173-b2f2bc00-41c0-11ea-8d1b-6fc6fd33424b.png)

**CaPTk

[2020-01-28 16:46] sarthakpati commented on #810
Fixed.

[2020-01-28 17:09] AlexanderGetka-cbica commented on #811
Oops, I messed this up when I was fixing the previous opacity change problem.
Pushing a fix for this to my branch.

[2020-01-28 17:24] AlexanderGetka-cbica commented on #718
This feature normally opens up a browser window which then immediately initiates the download of the sample data.
In our case, we use the scheme "ftp" to initiate the download  (with a URL along the lines of "ftp://www.nitrc.org/home/groups/captk/downloads/SampleData_1.6.0/[current application].zip").

Unfortunately, without embedding a browser into CaPTk, we can only _request_ that the operating

[2020-01-28 17:24] #718 closed

[2020-01-28 21:48] dboun commented on #810
@sarthakpati

While it doesn't crash now, it doesn't produce features either.

My output file is empty

[code]

(if you have the brats dataset, try Brats18_2013_2_1_flair.nii.gz + seg, and choose to FE on label 1

[2020-01-28 23:58] sarthakpati opened #813 "FE GUI crashes when you run it a second time"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Load image+mask
2. Run FE (selected features do not matter)
3. Re-run FE
4. See error

**Expected behavior**
FE should not be crashing.

[2020-01-29 00:01] sarthakpati commented on #813
Done.

[2020-01-29 00:01] #813 closed

[2020-01-29 00:02] sarthakpati commented on #810
Done. Please check by compiling the [related fork](https://github.com/sarthakpati/CaPTk/tree/fix_810) instead of waiting for this to get merged and reopen issue if needed. Thanks.

[2020-01-29 00:02] #810 closed

[2020-01-29 00:51] dboun commented on #810
Haha that's what I did the last time, but I had to do a complete rebuild and it got approved before I had the chance to test it!

[2020-01-29 22:03] #811 closed

[2020-01-31 17:50] chiharusako opened #816 "deepmedic model incompatible"
**Describe the bug**
When running deepmedic, it says:
The version of model is incompatible with this version of CaPTk.

**To Reproduce**
in cubic-login2:

[braintumoruser@cubic-login2 ACUD_2019.06.13]$/cbica/home/patis/projects/captk_myFork/bin/install/appdir/usr/bin/DeepMedic -t1 ACUD_2019.06.13_t1_LPS_rSRI.nii.gz -t1c ACUD_2019.06.13_t1ce_LPS_rSRI.nii.gz -t2 ACUD_2019.06.13_t2_LPS_rSRI.nii.gz -f

[2020-01-31 18:43] sarthakpati commented on #816
This has been fixed in https://github.com/CBICA/CaPTk/commit/073610b49ba6d01ac142257453f4fe97b82dbc41. I will re-compile my fork on the cluster.

[2020-01-31 18:43] #816 closed

[2020-02-03 13:49] chiharusako opened #818 "PseudoProgressionEstimator result is empty"
**Describe the bug**
output results.csv only includes header

**To Reproduce**

**Expected behavior**
results.csv includes distances to hyperplane

**CaPTk Version**
CaPTk v1.7.6 on cbica-cluster
/cbica/home/CaPTk/myFork/bin/PseudoProgressionEstimator
merged from master on 1/27/2020

[2020-02-03 15:20] sarthakpati commented on #792
Source of this message: https://github.com/CBICA/CaPTk/blob/master/scripts/linux-makeself#L120

[2020-02-03 20:03] sarthakpati opened #819 "DeepMedic (kind of) fails when output FILE is passed instead of DIR"
**Describe the bug**
When the user passed a _file_ to the ```-o``` CLI parameter, the program complains of being unable to write the normalized files.

**To Reproduce**
Steps to reproduce the behavior:
1. Provide the absolute path to a file for the ```-o``` parameter for DeepMedic
2. See crash

**Expected behavior**
A fall back should happen automatically if a filename is detected.

**CaPTk Versio

[2020-02-03 20:08] sarthakpati commented on #819
Fixed.

[2020-02-03 20:08] #819 closed

[2020-02-03 22:18] vishnubashyam opened #821 "Help dialogue not scaling"
## Expected Behavior
When rescaling the help dialogue, the toolbar should remain consistent and the text area should increase.

## Actual Behavior
Help dialogue does not scale upon resizing. Only the toolbar gets bigger.
![test-helpbug](https://user-images.githubusercontent.com/20879448/73695889-07a6a300-46a9-11ea-9dd4-3d013771152d.png)
## Steps to Reproduce the Problem

  1.  Go to the toolbar ->

[2020-02-04 19:03] sarthakpati opened #824 "FeatureExtraction does not work in some cases where the ROI values and Labels are not passed"
**Describe the bug**
When a user does not pass ROI value and corresponding label along with Lattice computation, FE somehow does not manage to handle the ROI construction properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run FE from the CLI without ROI values and labels
2. See error

**Expected behavior**
Either an error to the user that ROI values+labels are required **OR** use what

[2020-02-04 20:48] AlexanderGetka-cbica opened #826 "Application preferences do not save on Linux"
**Describe the bug**
Application preferences do not save on Linux machines.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CaPTk
2. Make any changes to the application appearance preferences (font, theme, etc) and apply them
3. close CaPTk
4. Reopen CaPTk
5. See that the UI looks exactly the same as the first run of CaPTk.

**Expected behavior**
Expected the UI to retain my saved chang

[2020-02-05 19:08] #826 closed

[2020-02-05 19:40] vishnubashyam opened #827 "CLI Feature Extraction Problem"
**Describe the bug**
I am not sure if I am doing something else wrong but when attempting to run the feature extraction with CLI as a batch job, I am getting an error.

**Here is my command:**
[code]

**Here is the error I am getting:**
MULTIPLE INPUT PROVIDED
Please provide either a patient id or path to csv file containing patient details

 - CaPTk Version: 1.7.6
 - OS: Ubuntu Linux

[2020-02-05 21:46] parthsharma853 opened #828 "Converting DIcoms to Nifti using Command line gives Segmentation Fault"
**Describe the bug**
As I tried to convert the dicoms to nifti on the cluster using the captk documentation given in  https://cbica.github.io/CaPTk/preprocessing_dcm2nii.html
It produced a segmentation fault

**To Reproduce**
Steps to reproduce the behavior:
I tried to run the Utilities with the following command:

./Utilities -i /Absolute_path_of_Directory_containing_Dicoms/ -d2n

It produces the

[2020-02-06 13:31] sarthakpati commented on #824
This is fixed.

[2020-02-06 13:31] #824 closed

[2020-02-06 20:29] ashishsingh18 commented on #828
This is a documentation issue.

[2020-02-06 20:49] waltman opened #829 "Running FeatureExtraction on the command line aborts when run on a single DICOM"
**Describe the bug**
When I run the command line FeatureExtraction on the cluster for a single DICOM it aborts.

**To Reproduce**
[code]
**Expected behavior**
Based on the usage for the `-i` parameter I expected it would work with a single DICOM:

[code]

Omid tells me that this syntax only works for nifti, and that for DICOMs it's expecting a directory instead of a single file. If that's in fact

[2020-02-06 21:32] waltman commented on #829
I made a subdirectory for each of my DICOMs, each with a symlink pointing back to the file. Then I reran FeatureExtraction with the directory instead of a file. Now it's failing with a different error message:
[code]

[2020-02-06 22:56] chiharusako opened #830 "PseudoProgressionEstimator: cannot get link to Penn model through command-line"
**Describe the bug**
The downloading of the pretrained model is only available from the GUI, and not on the command line. Can we please add the link in the -h?

**CaPTk Version**
/cbica/software/lab/captk/centos7/1.7.6/bin/captk

**Desktop (please complete the following information):**
cubic-login4

[2020-02-06 23:01] chiharusako opened #831 "GUI on cbica-cluster doesn't work"
**Describe the bug**
captk GUI will not open on the cluster

**To Reproduce**

**Expected behavior**
GUI opens

**CaPTk Version**
/cbica/software/lab/captk/centos7/1.7.6/bin/

**Desktop (please complete the following information):**
cubic-login4

**Error message**

Checking for compatible OpenGL - this will happen only once.
QOpenGLFunctions created with non-current context
Segmentation fault

[2020-02-07 15:24] vishnubashyam opened #833 "CLI feature extraction on cluster"
**Describe the bug**
When running the CLI feature extraction on the cluster I am getting the following error:

Checking for compatible OpenGL - this will happen only once.
QOpenGLFunctions created with non-current context
Segmentation fault

**To Reproduce**
Steps to reproduce the behavior:
1. Log on to cluster with "ssh -X -Y ..."
2. module load captk/1.7.6
3. captk FeatureExtration [specify -o -

[2020-02-07 15:31] vishnubashyam opened #834 "Linux Installer"
**Describe the bug**
The Linux installer does not install in the same directory that the installer was run in. The user needs to specify this manually. This seems to be causing some confusion with others trying to run the installer. It would be better if the default install location was in the same directory the installer was run in.

**To Reproduce**
Steps to reproduce the behavior:
1. ./{captk_i

[2020-02-07 15:49] vishnubashyam opened #835 "GUI DICOM to Nifti Error"
**Describe the bug**
The DICOM to Nifti conversion on Linux gives the following error:
Couldn't convert the DICOM with the default parameters; please use command line functionality

**To Reproduce**
Steps to reproduce the behavior:
1. Toolbar --> Preprocessing --> DICOM to Nifti
2. Specify Directories
3. See error

Ubuntu 18.04 - Linux - 1.7.6

[2020-02-07 16:50] PhucNgo1711 commented on #834
Hi,

I am aware of this bug and working on a fix.
For now please add a flag '--target {any_directory}' when running the installer. For example

`./{captk_installer}.bin --target ./My_CaPTk` will create a `My_CaPTk` directory at the current directory level and install CaPTk there.

[2020-02-07 17:18] ashishsingh18 commented on #835
@vishnubashyam Could you please attach a screenshot of the error and also point to what dicom data is giving this error? Please add a link to the data on the cluster if possible.

[2020-02-07 17:41] chiharusako commented on #818
I am now using the cluster-wide install, and results.csv is still empty. Now it does not have the header information either.

**To Reproduce**
qsub -j y -o psp_20200207.log -b y -l h_vmem=36G /cbica/software/lab/captk/centos7/1.7.6/bin/PseudoProgressionEstimator -t 1 -i ./input -o ./output_20200206_captk176/ -m ~/CaPTk/PretrainedModels/PseudoProgressionEstimator_PretrainedModel_1.7.6

**Result**
w

[2020-02-08 13:08] sarthakpati commented on #827
Hey Vishnu, thank you for posting!

I was not able to find the batch file you are passing. If you could send it to me on email, I might be able to take a stab at debugging this. Thanks!

[2020-02-08 14:27] sarthakpati commented on #833
To be clear, this is not related to #827.

Anyway, @vishnubashyam, could you try running ```captk FeatureExtraction -u``` in a session where you haven't added ```-XY``` to the ssh session?

[2020-02-08 22:12] ashishsingh18 commented on #835
Just tested, this works fine on Windows.
@dboun @AlexanderGetka-cbica can you please verify this on Linux?

[2020-02-09 01:01] dboun commented on #835
@ashishsingh18 I tried it and it worked.

The issue probably has to do with the specific data used. Looking through the code a bit, the conversion happens through invoking the CLI. This error message is thrown when the CLI finishes with some error return code.

Look at:

[code]

[2020-02-09 01:05] dboun commented on #835
![captkerr](https://user-images.githubusercontent.com/39439832/74094378-301a0d00-4aae-11ea-9156-885103c353f4.png)

One way I managed to get the error message, which may or may not be what the issue is, is when I passed a directory that **existed** and was **empty**

[2020-02-09 01:14] dboun opened #836 "Dock can be permanently closed with Alt+F4"
**Describe the bug**
_title_ . Possibly linux only, or even Cinnamon DE-specific.

**To Reproduce**
1. Make sure data manager is undocked
2. Make sure data manager is focused by clicking on it
3. Press Alt+F4

**Expected behavior**
The dock window closing should be hijacked (only when undocked!) and should call the main window method, which checks with a messagebox if the user wants to exit CaPTk.

[2020-02-09 14:03] sarthakpati opened #837 "DICE and other similarity calculations for masks in Utilities"
**Is your feature request related to a problem? Please describe.**
No function exists that gives the similarity metrics for 2 masks [[ref](https://itk.org/Doxygen/html/classitk_1_1LabelOverlapMeasuresImageFilter.html)]

**Describe the solution you'd like**
An option in ```Utilities``` for this.

**Describe alternatives you've considered**
Using [[Python](https://docs.scipy.org/doc/scipy/reference/

[2020-02-09 14:24] sarthakpati commented on #837
Done.

[2020-02-09 14:24] #837 closed

[2020-02-10 17:00] parthsharma853 opened #839 "Perfusion derivatives are wrong when minimum is outside assumed time range"
**Describe the bug**

The perfusion derivative assumes that the first 0-20% of the timepoint can be considered baseline and 66-88% for recovery.

In the recent Penn scans we found images that have the minimum earlier within the first 20%, and the derivatives is not correct.

**To Reproduce**

/cbica/software/lab/captk/centos7/1.7.6/bin/PerfusionDerivatives -i input.nii.gz -e 45 -p 1 -pH 1 -r 1 -o

[2020-02-10 17:04] parthsharma853 opened #840 "Reorientation of Bval, Bvec files for dti"
**Is your feature request related to a problem? Please describe.**
For dti images CaptK can reorient niftii images but not the bval & bvec files. This function will be needed to do the brain tumor pipeline in CaptK.

**Additional context**
Currently this is done manually, outside of CaptK.

[2020-02-10 17:50] AlexanderGetka-cbica commented on #836
I am able to reproduce this on Ubuntu 18.04 running GNOME.
I suspect this has something to do with the windowing flags for the floating dock. Not sure how Qt or the OS handle force-quit on windows, subwindows, etc.

In any case it should be possible to catch the closeEvent and propagate it to the main window to ask the user for confirmation.

[2020-02-10 17:55] AlexanderGetka-cbica commented on #831
notes:
I tried this using the -X command line flag for ssh and still got this.
Furthermore, even glxinfo on the cluster gives an error.

name of display: 170.166.98.52:39.0
X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  151 (GLX)
  Minor opcode of failed request:  24 (X_GLXCreateNewContext)
  Value in failed request:  0x0
  Se

[2020-02-10 18:05] vishnubashyam commented on #827
Sure no problem! I emailed you this.

[2020-02-10 18:15] vishnubashyam commented on #833
When I run this, I am getting the expected output for the FE help message:

_Executable Name: FeatureExtraction v1.7.6_

_Usage:_

_Required parameters:_

_[  -o, --outputDir]         Absolute path of directory to save results_
                            _Result can be a CSV or Feature Maps (for lattice)_

...

[2020-02-10 18:24] sarthakpati commented on #833
Did you try on a session where you did not have ```-X -Y``` present, just as a sanity check?

[2020-02-10 18:26] sarthakpati commented on #827
Possibly already addressed with https://github.com/CBICA/CaPTk/commit/7f87b2afbf206f5648b8bbacc5f2f9fc0b97fde0. @vishnubashyam, could you try running the same command from my home directory, ```/cbica/home/patis/testing/captkMyForkInstall/bin/```? Thanks.

[2020-02-10 18:26] AlexanderGetka-cbica commented on #831
@MarkBergman-cbica Do we have Slicer or MITKWorkbench installed on the cluster? I would like to compare to how these applications work on the cluster over ssh. It would also be useful for determining if the problem is on CaPTk's end or if it's related to openGL on the cluster.

[2020-02-10 18:29] vishnubashyam commented on #835
Ahh okay, I see it was a problem with my data. I was able to get it working now.

Thanks for the help!

[2020-02-10 18:29] #835 closed

[2020-02-10 18:33] dboun commented on #831
ITK-SNAP seems to be there but I can't run it

[code]

[2020-02-10 19:18] vishnubashyam commented on #827
Oh great, it is working from here. Thanks!

[2020-02-10 19:18] #827 closed

[2020-02-10 20:11] vishnubashyam commented on #833
Yes, I should have mentioned this was without -X -Y

[2020-02-10 21:07] dboun commented on #831
Tagged as wontfix because  tt looks like the issue is incompatibility between our machines and the cluster, on the opengl level, and there isn't really anything we can do. Other machines work fine

[2020-02-10 21:57] AlexanderGetka-cbica commented on #757
I have investigated this a while and found that the denoising function itself does not actually change the dimensions of the image. Rather, CaPTk throws this error because a mismatch in the image origins between the loaded images -- in the case of the walnut, the original image has origin (0, 0, 0). As far as I can tell, the image of the denoised walnut that gets saved is also of origin (0, 0, 0).

[2020-02-11 14:42] eac-upenn commented on #718
Thanks for this really informative explanation! (And I chose Opera for FTP — who knew.)

— Eric.

Eric A. Cohen   |   Eric.Cohen@pennmedicine.upenn.edu
Data Analyst
Computational Breast Imaging Group
University of Pennsylvania

From: Alexander Getka <notifications@github.com>
Sent: Tuesday, January 28, 2020 12:25 PM
To: CBICA/CaPTk <CaPTk@noreply.github.com>
Cc: Cohen, Eric <Eric.Cohen@pennmedicin

[2020-02-11 15:05] AlexanderGetka-cbica commented on #721
This has been addressed with PR #822.
Considering the concerns of accessibility and usability, the following change has been applied:

When you apply changes in the preferences window, you now get a windows-style "Are you sure you want to keep these changes?" preview (of the actual application, not just some sample text) with a confirmation dialog. The confirmation dialog itself uses only default

[2020-02-11 15:05] #721 closed

[2020-02-11 17:24] MarkBergman-cbica commented on #743
itk-snap does not launch due to incorrect permissions:

     1  (base) [user@login4 ~]$ which captk
     2  /software/lab/captk/centos7/1.7.2/bin/captk
     3  (base) [user@login4 ~]$ module unload captk/1.7.2
     4  (base) [user@login4 ~]$ module load captk/1.7.6
     5  (base) [user@login4 ~]$ which captk
     6  /software/lab/captk/centos7/1.7.6/bin/captk
     7  (base) [user@login4 ~]$ which

[2020-02-11 20:14] saimarathore commented on #789
checked the issue. problem was with the input data.

[2020-02-11 20:14] #789 closed

[2020-02-11 20:15] saimarathore commented on #744
fixed the model. the previous model was not compatible with the code. added a function in the code to check for the compatibility of the model

[2020-02-11 20:15] #744 closed

[2020-02-11 20:16] saimarathore commented on #711
fixed the problem. the code runs successfully in 1.7.6.

[2020-02-11 20:16] #711 closed

[2020-02-11 20:58] dboun commented on #743
@MarkBergman-cbica @sarthakpati

I downloaded itk-snap from its website and the files are executable from scratch. So we just need to add their latest code in our binaries zip (**but not do it from windows**, zip preserves permissions, but when you unzip it on windows they get removed). I don't think we need any additional complex fix like the above commits.

About the libpng12.so issue that I fac

[2020-02-12 13:42] sarthakpati commented on #743
Fixed in https://github.com/sarthakpati/CaPTk/commit/f59f499d47e76876495e0af7395ccde1f877bb51

Please reopen if persists.

[2020-02-12 13:42] #743 closed

[2020-02-12 15:59] saimarathore commented on #715
functionality to remove Nan values added in the training module

[2020-02-12 15:59] #715 closed

[2020-02-12 16:02] saimarathore commented on #742
revised documentation to match the text in the documentation and the functionality provided by CaPTk.

[2020-02-12 16:02] #742 closed

[2020-02-12 19:03] ashishsingh18 opened #843 "Investigate alternatives to Pyinstaller"
Investigate alternatives to Pyinstaller

PyOxidizer:

	https://github.com/indygreg/PyOxidizer
	https://pyoxidizer.readthedocs.io/en/latest/overview.html

Nuitka looks really promising too:
	https://github.com/Nuitka/Nuitka
	http://nuitka.net/pages/overview.html

Nice comparison page:

	https://pyoxidizer.readthedocs.io/en/latest/comparisons.html

[2020-02-12 19:05] ashishsingh18 opened #844 "Rebuild/Repackage DeepMedic to eliminate Pyinstaller vulnerability"
Rebuild/Repackage DeepMedic to eliminate Pyinstaller vulnerability

[2020-02-12 19:06] ashishsingh18 opened #845 "Rebuild/Repackage Theia to eliminate Pyinstaller vulnerability"
Rebuild/Repackage Theia to eliminate Pyinstaller vulnerability

[2020-02-12 19:06] ashishsingh18 opened #846 "Rebuild/Repackage Confetti to eliminate Pyinstaller vulnerability"
Rebuild/Repackage Confetti to eliminate Pyinstaller vulnerability

[2020-02-12 19:25] ashishsingh18 opened #847 "Add version check for all models"
Add version check for all models

[2020-02-12 19:31] parthsharma853 opened #848 "N4 Bias correction giving error"
**Describe the bug**
After reorienting the images, as I tried to apply N4 Bias Correction, an ITK error was thrown.

**To Reproduce**
Steps to reproduce the behavior:
 **>Command:**
captk Preprocessing -i  **reoriented_nifti_file.nii.gz** -o **absolute_path_of_output_file** -n4

**>Error:**
terminate called after throwing an instance of 'itk::ExceptionObject'
  what():  /cbica/home/patis/libs/capt

[2020-02-12 20:18] DushyantSahoo opened #849 "Not able to visualize .nii files"
**Describe the bug**
I am using ubuntu 18.04 and GUI. When I try to open .nii files, there is no visualization of the data. I have set of dicom files which I converted to .nii files using CaPTk and dcm2niix.

**To Reproduce**
Use some dicom files and convert them to .nii files. Go to files and load the .nii file.

**Expected behavior**
CaPTk should be able to visualize the images

**CaPTk Version*

[2020-02-12 20:24] DushyantSahoo opened #850 "GUI not responding when running Skull Stripping"
**Describe the bug**
When using Skull Stripping from GUI, GUI shows CaPTk is not responding although the algorithm keeps on running on terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'preprocessing'
2. Click on 'Skull Stripping'
3. Error will come after few minutes

**Expected behavior**
The algorithm should run without forcing GUI to close.

**CaPTk Version**
1.7.6

**Deskto

[2020-02-12 21:08] AlexanderGetka-cbica commented on #849
@DushyantSahoo I can't seem to reproduce this from my initial tests. In order to help us investigate this issue more deeply, please give us more detailed steps to reproduce the problem.

Are you using the DICOM to NIFTI tool from CaPTk's GUI under preprocessing, or are you running the files through dcm2niix on the command line first, and then opening the resulting files in the CaPTk GUI? If the la

[2020-02-13 20:33] ashishsingh18 commented on #829
@waltman Can you please share the inputs( on our cluster )  to try this?

@sarthakpati The Dicom read issue for Utilities is resolved and merged into master.

[2020-02-14 14:40] waltman commented on #829
I put the files in /cbica/home/mankowsw/comp_space/captk

[2020-02-14 14:44] sarthakpati commented on #829
Which commit? Was this your previous PR?

[2020-02-14 15:49] ashishsingh18 commented on #829
This was PR #841

[2020-02-14 15:50] rongguangwang opened #852 "[MAC] GUI DICOM to Nifti Documentation Issue"
**Describe the bug**
The documentation of the conversion is not very clear. In step two, it said "Specify the first DICOM image in series, and the output filename.". However, when we open the directory of the DICOM image series. It is empty inside the folder. Actually, the conversion will work if we just press "Confirm". But it may mislead the users that the software is not working.

**To Reproduc

[2020-02-14 15:58] sarthakpati commented on #829
Perfect, then it should already be present on the cluster in my home directory:

[code]

@waltman, you can check from that location to see if #841 helped.

[2020-02-14 15:58] dboun opened #853 "[Bug] Azure Linux Artifact doesn't work"
**Describe the bug**
[code]

(I downloaded and tried the artifact twice to be sure)

**To Reproduce**
Steps to reproduce the behavior:
1. Download linux artifact from PR #842

**CaPTk Version**
1.7.7-nonRelease

**Desktop (please complete the following information):**
 - OS: Linux Mint 19.3

**Additional Context:**
@sarthakpati Might be related to the cache or itk-snap changes that were recently m

[2020-02-14 16:13] waltman commented on #829
Now I'm getting a segmentation fault:

[code]

[2020-02-14 16:19] rongguangwang opened #854 "[MAC] GUI DICOM to Nifti Error"
**Describe the bug**
The software can't perform DICOM to Nifti conversion with error "Couldn't convert the DICOM with the default parameters; please use command line functionality".

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the tool using the 'Preprocessing' -> 'DICOM to NIfTI' menu option.
2. Specify the first DICOM image in series, and the output filename.
3. Click on "Confirm

[2020-02-14 16:30] sarthakpati commented on #853
This is definitely a space issue because before the packaging begins on Xenial, the usage is at 98% [[ref](https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1069&view=logs&j=82538e74-49f1-5405-62cc-28b0e28fe542&t=b378233a-7da2-5766-c9c5-70d5eaed4c06)]. Unsure why this doesn't simply complain about it rather than create a faulty installer, though.

Same issue is present on the Windows side a

[2020-02-14 16:41] ashishsingh18 commented on #854
@rongguangwang Is there any specific dataset that is giving this error? Can you please share the data on either "S" drive at :  S:\CBICA\Ashish\Testathon-Feb-2020 or give the path to the data on the cluster?

[2020-02-14 16:58] ashishsingh18 commented on #828
Fixed

[2020-02-14 16:58] #828 closed

[2020-02-14 18:13] rongguangwang commented on #854
Sure, below is the path to the dataset I used for testing:

`/cbica/home/wangron/tumor/`

[2020-02-14 18:25] ashishsingh18 commented on #854
I can't access it. Can you please copy it to your comp_space and give permissions so I can copy them ?

[2020-02-14 19:08] rongguangwang commented on #854
How about now?

[2020-02-14 20:08] ashishsingh18 commented on #854
Thanks, I can access it. I also tried the dataset. It was bad and that's why it was giving the error. It is compressed as bz2 and therefore not a valid dicom. Other dicom viewers or slicer or mitk workbench are also not able to handle this data.

We should have caught it though.

[2020-02-14 20:11] ashishsingh18 commented on #852
This is a documentation update. Tagged as 'Major' since it misleads end users.

[2020-02-14 20:15] rongguangwang commented on #854
Hi, Ashish

Many thanks for your input. Actually, I forgot to mention that I have
decompressed the dataset using

bzip2 -d <filename>.bz2

Maybe you can just do

bzip2 -d */*.bz2

to decompress the files.

It turns out that CaPTk can't do the conversion although the data is not
compressed.

Regards,
Rongguang

On Fri, Feb 14, 2020 at 3:08 PM Ashish Singh <notifications@github.com>
wrote:

[2020-02-14 21:28] sarthakpati commented on #829
Dicom load is still an issue, @ashishsingh18:

[code]

[2020-02-14 21:48] ashishsingh18 commented on #829
For Utilities d2n, we need to pass the directory containing single dicom series as input. I see you passed a dicom image.
[code]

[2020-02-14 21:52] waltman commented on #829
When I pass in a directory it aborts immediately:
[code]

[2020-02-14 21:54] ashishsingh18 commented on #829
@waltman The directory as input was only for Utilities.exe. We are yet to figure out the FeatureExtraction part.

[2020-02-14 21:56] waltman commented on #829
Interesting. Omid told me his solution to this problem was to use directories with a single file, but whenever I try it (like here) it doesn't work.

[2020-02-14 21:58] MarkBergman-cbica commented on #844
@sarthakpati  -- are you investigating this with pyinstaller?

[2020-02-14 22:01] MarkBergman-cbica commented on #830
Adding CLI downloads directly is an enhancement that's out-of-scope for the next release.

However, the CLI should provide documentation that the download can be down via the GUI, and the link should be added to the CLI help.

[2020-02-14 22:02] ashishsingh18 commented on #854
@rongguangwang It works for me with your data when decompressed. I tried it with one image.
Can you please try it with one image and let us know if that works?

Also, please let us the know the steps you followed when it failed.

[2020-02-15 12:57] sarthakpati commented on #844
I have something for DeepMedic. Waiting for detailed feedback on the precompiled binaries before initiating PR.

[2020-02-15 14:31] rongguangwang commented on #854
I tried to use subject `10_flair`, and it didn't worked. Maybe you can test it?

[2020-02-15 14:47] rongguangwang opened #855 "[MAC-GUI] Image Co-registration Output Issue"
**Describe the bug**
After the affine or rigid registration, there's no output images in the specified directory. However, the progress bar at the bottom right shows that "registration complete - 100%".

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the "Registration" dialog from the "Preprocessing" menu.
2. Customize the parameters (Metrics, Radius and Iterations) as needed.
3. Spec

[2020-02-15 21:31] ashishsingh18 commented on #854
I just tried one image from 10_flair folder and it works fine.

Please remember that all the dicom files in the input directory must be decompressed.

[2020-02-15 22:33] dboun opened #856 "Dock doesn't always minimize with CaPTk"
**Describe the bug**
title + It might depend on the focus, because in other circumstances it minimizes

**To Reproduce**
Steps to reproduce the behavior:
1. Open CaPTk
2. Click on minimize without doing anything else

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
 - OS: Linux Mint 19.3

**Additional context**
Might be Cinnamon specific

[2020-02-16 06:44] dboun opened #857 "Change data directory to $HOME/Documents/CaPTk from $HOME/CaPTk"
**Describe the bug**
Currently the data directory (the one that holds PretrainedModels/ and SampleData/) gets created inside $HOME/.

This is unconventional and "pollutes" the home directory of the user, which typically contains os defined directories like Desktop/ and Downloads/ etc.

**Expected behavior**
Create it in Documents/ instead

**CaPTk Version**
1.7.6

**Desktop (please complete the fo

[2020-02-16 06:59] dboun commented on #834
(this is a duplicate of #692)

[2020-02-16 07:04] dboun commented on #847
Why are we specifying maximum version etc?

A "minimum" version on the application side, and a "trained on" version on the model side should suffice for every need.

If no one touches the code, the model won't suddenly break. If someone updates the code he could bump the minimum version if he makes changes that break past models. Unit tests that try models from each release could help automate thi

[2020-02-16 15:09] rongguangwang opened #858 "[MAC-GUI] Z-Scoring Normalization Issue"
**Describe the bug**
After choosing the 'ZScoringNormalizer' option, there's no window show up to specify input image and parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the tool using the 'Preprocessing' -> 'ZScoringNormalizer' menu option.
2. See this issue.

**Expected behavior**
The output image is saved in the specified folder.

**CaPTk Version**
CaPTk_1.7.6

**Deskto

[2020-02-16 15:39] rongguangwang opened #859 "[MAC-GUI] Using 3D Dicoms instead of niftis causes dimensionality mismatch in some algorithms"
**Describe the bug**
After click the "Geodesic Training Segmentation" and wait for a few seconds, an error prompt out "The physical dimensions of the previously loaded image and the mask are inconsistent".

**To Reproduce**
Steps to reproduce the behavior:
1. Load in the different images, that are different modalities of the same subject.
2. Draw over the images using CaPTk's drawing tools.
3. Cli

[2020-02-17 15:56] dboun commented on #859
I really can't recreate this. I tried it with 2D, 3D, 4D, and 2D images that are saved as 3D with the last dimension as one. I tried running segmentations with 2D images and then unload them and run with 3D and vice versa.

@rongguangwang  Can you please
- Try this again with a brand new instance of CaPTk. Launch captk, don't do anything else with it and try to draw briefly with 2+ labels and run

[2020-02-17 16:07] dboun commented on #849
There shouldn't be any issue with visualization of nii files. They are read by itk just like nii.gz do, and are loaded as itk::Image objects.

The issue is either:
- OpenGL. In that case you wouldn't be able to visualize anything. That happens when the GPU is "old". This can be verified by running ```glxinfo | grep "OpenGL version"```. If the version is smaller than 3.3 (or 3.2?) there are issues

[2020-02-17 16:25] dboun opened #860 "Preprocessing CLI (and maybe all CLIs) can't handle spaces in the filepaths"
**Describe the bug**
[code]

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
 - OS: Linux Mint 19.3

**Additional context**
- Also tried it for n3 and ss and can confirm that the issue is there for everything.
- This might be an issue on other CLIs too?
- Other seemingly different issues might be related to this, like #854 #858 (marked as critical because of this)

[2020-02-17 16:28] #831 closed

[2020-02-17 16:35] rongguangwang commented on #859
Currently, I'm using the Mac version of `CaPTk_1.7.6`. I thought `CaPTk_1.7.6` is the latest version?

Of course, the dataset I used for testing is open-access on the cluster in the below directory:

`/cbica/home/wangron/tumor/`

[2020-02-17 17:03] dboun commented on #859
Thanks for sharing the data!

I meant something different, but nevermind it. 1.7.6 is the correct version. I have replicated it now so no need for you to do anything :)

@sarthakpati @ashishsingh18 This is not an issue with geodesic training. I tried it:
- By loading the first image of the series into CaPTk.
- By converting dcm to 3D nifti image
It worked when the image was first converted to nift

[2020-02-17 17:08] rongguangwang commented on #859
No problem!

I forgot to mention that similar situation happened to "N4 Bias Correction". An error also prompt out "The physical dimensions of the previously loaded image and the mask are inconsistent" after the correction process finished. However, this function do output a corrected image in the specified directory.

[2020-02-17 19:35] DushyantSahoo commented on #849
The issue was with OpenGL, just corrected and everything works fine now. It would be really helpful if there can be pop up saying that OpenGL is incompatible if it is smaller than 3.3

[2020-02-17 19:53] DushyantSahoo opened #862 "DICOM to NIFTI"
**Describe the bug**
When I am trying to convert DICOM to NIFTI, I get the below error after giving the path of the images-
"Couldn't convert the DICOM with the default parameters; please use command line functionality"

It was running correctly few days back, then abruptly this error started coming.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preprocessing'
2. Click on 'DICOM to

[2020-02-17 21:29] dboun opened #863 "pop up saying that OpenGL is incompatible if it is smaller than 3.3"
_Originally posted by @DushyantSahoo in https://github.com/CBICA/CaPTk/issues/849#issuecomment-587132231_

[2020-02-17 21:29] #849 closed

[2020-02-17 22:01] DushyantSahoo opened #864 "CaPTk is not responding while using deep learning based segmentation"
**Describe the bug**
When the deep learning based segmentation is used, after few minutes CaPTk gives a pop up saying that it is not responding. Also, when I press confirm to run the deep learning based segmentation, it gets stuck there although everything is running fine on the terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Deep Learning'
2. Click on 'Segmentation'
3. Pres

[2020-02-18 03:37] dboun opened #865 "Confetti GUI doesn't launch on linux"
**Describe the bug**
Clicking Applications>Confetti does nothing

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
 - OS: Linux Mint 19.3

[2020-02-18 18:41] DushyantSahoo opened #866 "CaPTk is not responding while using deep learning based skull stripping"
**Describe the bug**
When the deep learning based skull stripping is used, after a few minutes CaPTk gives a pop up saying that it is not responding. Also, when I press confirm to run the deep learning based skull stripping, it gets stuck there although everything is running fine on the terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Deep Learning'
2. Click on 'Skull Strippi

[2020-02-18 19:36] DushyantSahoo opened #867 "Not able to open ZScoringNormalizer"
**Describe the bug**
I am not able to open ZScoringNormalizer option when I click on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preprocessing'
2. Click on 'ZScoringNormalizer'

**Expected behavior**
Something should come up when I click on ZScoringNormalizer

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version (including

[2020-02-18 20:00] parthsharma853 opened #869 "Documentation errors in command line Deep medic segmentation"
**Describe the bug**
The documentation for Deepmedic found at https://cbica.github.io/CaPTk/seg_DL.html has a couple of issues.

1) It says that selecting the pre-trained models is optional but when not specified gives the following error

'modelConfig.txt' was not found in the directory, please check.
Finished successfully.

2) The documentation doesn't specify the location of the pre-trained mod

[2020-02-18 20:10] vishnubashyam opened #870 "Survival Index Pretrained Model Cannot be Used"
**Describe the bug**

The downloadable model for the Survival Index prediction does not load within captk.
I get the following error:

"The given SVM model directory does not have all the model files"

**Additionally, the file formats do not match those made when training a model from scratch.**

When training from scratch 4 files a produced: 2 .xml and 2 .csv
In the downloadable pretrained model:

[2020-02-18 20:15] vishnubashyam opened #871 "Survival Prediction Error During Training"
**Describe the bug**
Although this has worked for me in the past I am now getting an error while training a model from scratch in the survival prediction module. I am using the Linux GUI.

![Sur pred](https://user-images.githubusercontent.com/20879448/74774116-238d7580-5261-11ea-8a14-2b374cdc02d7.png)

Here is the log file mentioned:

2020:02:18,09:52:58;CaPTk;vishnu;applying DARK theme
2020:02:18

[2020-02-18 20:26] vishnubashyam opened #872 "Survival Prediction Results"
**Describe the bug**

I have tested the survival prediction module (Linux GUI) using the following data for training and testing:

train: /cbica/projects/brain_tumor/Brain_Tumor_2020/Projects/20200217_old_Surival_study_inSRI/captk/1.7.6/1_test/input_training

test:
/cbica/projects/brain_tumor/Brain_Tumor_2020/Projects/20200217_old_Surival_study_inSRI/captk/1.7.6/1_test/input_testing

I am getting

[2020-02-18 20:42] vishnubashyam commented on #870
This seems to be working intermittently for me now. When I see this error, restarting captk seems to fix it.

Please disregard my comment that the file types do not match. I am able to load both the official pretrained and locally trained models even with the differences in files formats.

[2020-02-18 22:01] AlexanderGetka-cbica commented on #846
@dboun and I were able to get Confetti running in a packaged form using Nuitka. It does not produce a one-file executable, but rather a single folder that contains all the needed shared object files as well as the executable. (You also need to build the C++ component of Confetti using CMake and place those compiled shared objects in the same directory).

From what I understand, Confetti was a prob

[2020-02-19 03:16] dboun commented on #869
Some notes:
- The documentation should have the links to the pre-trained models for all algorithms (they are not included in captk), or explain that they can be obtained through the GUI (that will show people the paper information, which is desired, but it's also a lot of steps).
- The model is never optional. It is mandatory for inference and useless for training new models.

[2020-02-19 19:10] AlexanderGetka-cbica commented on #856
This is most likely related to #836 in how the dock is handled in terms of window flags. I'll need to test out the different configurations.

[2020-02-20 15:26] ashishsingh18 commented on #862
@DushyantSahoo Can you please re-check step 3 to reproduce in your description. Currently a user cannot select images. Only folder selection is allowed. Also can you please check if the folder you selected had any data? And could you please share the path to the data that was giving this error, on the cluster ?

[2020-02-20 15:31] ashishsingh18 commented on #870
@vishnubashyam Is this working for you now? Or is it still intermittent?

[2020-02-20 15:40] vishnubashyam commented on #870
It is still intermittent but the problem is not with the pretrained model. Sometimes when I try to load a model (pretrained or locally trained) I am getting the stated error. I can't think of anything I am doing differently between when it works and when it doesn't.

[2020-02-20 16:34] ChitaliaR opened #874 "Loading CaPTk on cluster"
**Describe the bug**
When trying to load CaPTk on the cluster using:  module load captk/1.7.6, an error message appears saying no such file or directory

**To Reproduce**
Steps to reproduce the behavior:
1. On cluster type: module load captk/1.7.6
2. type: captk

**Expected behavior**
captk should load

**Error message **
WARNING: Trying to run CaPTk GUI using software rendering - this might not w

[2020-02-20 16:38] waltman opened #875 "Segmentation fault running CaPTk on the cluster"
**Describe the bug**
When I run captk on the cluster I get a segmentation fault

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I was expecting to see the CaPTk GUI.

**Screenshots**
N/A

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: Ubuntu 18.04.4 LTS

**Additional context**
N/A

[2020-02-20 16:44] ShyamDesai opened #876 "CaPTk 1.7.6 GUI Failure"
**Describe the bug**
Failed to load CaPTk GUI from cluster. Crashes immediately upon execution of 'captk' in CL. Have tried to unload captk before loading the new version as well.

**To Reproduce**
Steps to reproduce the behavior:
1. On the cluster
2. "Module load captk/1.7.6"
3. "captk"
4. See error

**Expected behavior**
The CaPTk GUI should open.

**Screenshots**
This is the error I am receivin

[2020-02-20 16:49] ashishsingh18 commented on #874
Related to #831

[2020-02-20 16:50] ashishsingh18 commented on #875
related to #831, #874

[2020-02-20 16:51] ashishsingh18 commented on #876
Related to #831, #874, #875

[2020-02-20 18:17] sarthakpati opened #877 "Azure DevOps builds failing"
**Describe the bug**
The Xenial builds on DevOps are failing for all PRs:
- https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1072&view=results
- https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1075&view=results
- https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1076&view=results

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger Azure build

**Expected behavior*

[2020-02-20 19:30] dboun commented on #876
Duplicate of #831

[2020-02-20 19:30] #876 closed

[2020-02-20 19:31] dboun commented on #875
Duplicate of #831

[2020-02-20 19:31] #875 closed

[2020-02-20 19:32] dboun commented on #874
Duplicate of #831

[2020-02-20 19:32] #874 closed

[2020-02-20 19:36] dboun commented on #831
Pinned this to hopefully disincentivize people from opening it again and again.

[2020-02-20 20:44] sarthakpati opened #878 "Utilities CLI resampling is not working correctly"
**Describe the bug**
When one tries to resample an input image with a reference image, the ```Utilities``` CLI doesn't work unless a resizing factor of ```100``` is passed, which is not needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Try the following command:

[code]
2. See error

**Expected behavior**
The additional option of ```-rr 100``` should not be needed.

**CaPTk Version**
1

[2020-02-20 20:50] sarthakpati commented on #878
The following commands now work:

[code]

[2020-02-20 20:50] #878 closed

[2020-02-20 21:15] parthsharma853 opened #879 "Deepmedic on cluster gives error"
**Describe the bug**
Runnning the Deepmedic Segmentation with Pre-trained SkullStripping model on the cluster provides directory not found error on multiple login sessions.

**To Reproduce**

captk Deepmedic -t1 t1_LPS_rSRI.nii.gz -t1c t1ce_LPS_rSRI.nii.gz -t2  t2_LPS_rSRI.nii.gz -fl flair_LPS_rSRI.nii.gz -o output_dir -md deepMedic/saved_models/skullStripping

error

=== Done.
=== Starting resamp

[2020-02-21 00:24] sarthakpati commented on #879
Same as ticket 1354 on the RT system. Paging @chiharusako and @MarkBergman-cbica

[2020-02-21 01:32] sarthakpati commented on #877
Stemming from the following message [[ref](https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1079&view=logs&j=82538e74-49f1-5405-62cc-28b0e28fe542)]: ```##[error]No space left on device```

[2020-02-21 01:32] ashishsingh18 commented on #854
@rongguangwang  Have you tried this yet? The 10_flair data is working for me.

[2020-02-21 03:42] viraj28m commented on #870
Everytime i try to use any pretrained model for Glioblastoma survival prediction or GLioblastoma molecular subtype predictor- i get an error : Connection to nitrc failed.
How should i get around this?

[2020-02-21 05:34] ashishsingh18 commented on #859
@dboun I don't believe this is a problem with the dicom reader. We are not changing the dimensions of the data during dicom reading. This has to do with something that we are doing before/after the dicom reading. Can you point me to the exact dicom data you are loading that gives this issue?

I tried with the data from @rongguangwang and it turns out that that dicom data has different z dimensions

[2020-02-21 15:11] MarkBergman-cbica commented on #879
The error message is accurate:
`/gpfs/fs001/cbica/software/lab/captk/centos7/1.7.6/bin/DeepMedic/gpfs/fs001/cbica/home/deepMedicRun`
is not a directory.
Breaking it down:
`/gpfs/fs001/cbica/software/lab/captk/centos7/1.7.6/bin/DeepMedic`
is valid and accurate. The next part of the _path_:
`/gpfs/fs001/cbica/home/deepMedicRun`
is inaccurate -- there is no home directory named "deepMedicRun".

Somet

[2020-02-21 15:12] MarkBergman-cbica commented on #879
Since the demonstration of this is cluster-specific, please follow up on RT.

[2020-02-21 15:16] MarkBergman-cbica opened #880 "Improve error message in case of missing (required) files"
**Describe the bug**
When required files are not present, the error message needs improvement

**To Reproduce**
[code]

**Expected behavior**

(base) [bergmama@cubic-login2 ~]$ captk Deepmedic -t1 t1_LPS_rSRI.nii.gz -t1c t1ce_LPS_rSRI.nii.gz -t2 t2_LPS_rSRI.nii.gz -fl flair_LPS_rSRI.nii.gz -o output_dir -md deepMedic/saved_models/skullStripping
Error: t1 file "t1_LPS_rSRI.nii.gz" not found
[code]

[2020-02-21 15:45] dboun commented on #859
@ashishsingh18 This problems occurs with loading a single series. That series corresponds to single itk::Image. There can be no dimensionality mismatch if it's just one image.

Try to load a series by dragging the first file and then run geodesic or the other algorithm

[2020-02-21 15:49] MarkBergman-cbica opened #881 "CaPTk continues to access files in build directory after installation"
Example:

The installed version of CaPTk on  CUBIC (built by Sarthak, but installed system-wide) is trying to access files in /cbica/home/patis.

Running

[code]

produces a list of system calls in the file 'captk.strace'. That shows:

[code]

The first system call succeeds. If the second one did not fail (due to the incorrect construction of the path to the executable), then it would have referen

[2020-02-21 16:00] rongguangwang commented on #854
@ashishsingh18 It works for single dicom series for me. But when you trying to consistently convert more series, it fails.

[2020-02-21 16:14] sarthakpati opened #882 "'Help > Support Links > Latest Downloads' not working"
**Describe the bug**
There should be an option for the user to go to the latest downloads page.

**To Reproduce**
Steps to reproduce the behavior:
1. 'Help > Support Links > Latest Downloads'
2. See nothing

**Expected behavior**
This should pop up a location on GitHub with links to all downloads.

**CaPTk Version**
1.7.6

**Additional context**
Initially reported by @PhucNgo1711.

[2020-02-21 16:18] PhucNgo1711 commented on #882
Looks like the `QAction` assigned to that option was never set to do anything. The action can be found in `src/view/gui/fMainWindow.cpp`

[2020-02-21 16:22] sarthakpati commented on #882
Oh so poor choice of variable naming... Working on fixing this right now.

[2020-02-21 16:28] PhucNgo1711 opened #883 "Decouple the pre-compiled binaries from CaPTk installation and packaging"
**Is your feature request related to a problem? Please describe.**
Currently, the complexity of the installer mechanisms is too much, which makes things far likely to break and makes maintenance difficult. Having precompiled apps packaged all together at one place also creates space issues for the Azure builds.

**Describe the solution you'd like**
Decoupling all the precompiled binaries (i.e., De

[2020-02-21 16:29] PhucNgo1711 commented on #877
With #883 this should be handled.

[2020-02-21 16:34] sarthakpati commented on #882
Fixed.

[2020-02-21 16:34] #882 closed

[2020-02-21 18:14] sarthakpati commented on #883
White paper (read only): https://1drv.ms/w/s!AgvRZZtXCbbOnKBuKuZGamU4Kv-Ikw?e=wpEQq0

[2020-02-21 18:27] PhucNgo1711 commented on #883
Not sure if I should take the discussion here in the comment section but here it is:

So far I have added this new tab here (for testing), and whatever you click on should trigger a basic download. Download links are added to the `links.yaml` file, just like what we have for sample data download.
![Capture](https://user-images.githubusercontent.com/14838084/75060409-c685ff80-54ac-11ea-8bfa-85aab24

[2020-02-21 18:33] sarthakpati commented on #883
Personally, I am fine with either. @MarkBergman-cbica and @dboun wanted something better defined. Perhaps the updated location given in Point 4 of "desired functionality" in the white paper could be possible?

[2020-02-21 19:01] AlexanderGetka-cbica commented on #867
Duplicate of #858 (but reported on different non-windows platforms).

Both are fixed in my local branch, and a PR will be up shortly.

[2020-02-21 19:15] sarthakpati commented on #881
Was the installation done using the ```make install/strip``` command?

[2020-02-21 19:17] sarthakpati commented on #881
Point #2 is not replicable (see my latest reply to the RT ticket 1354).

[2020-02-21 20:02] MarkBergman-cbica commented on #881
Yes.

[2020-02-21 20:17] MarkBergman-cbica commented on #883
[I'll take what's behind door #2, please.](https://en.wikipedia.org/wiki/Monty_Hall_problem)

[2020-02-21 20:18] AlexanderGetka-cbica commented on #883
The way we store the applications will also inform how we check if an application is installed and how we could check its version (if we decide that we should do that, which I personally think is a good idea).

If we choose option 1, then users gain a (small) amount of flexibility with their directory structure (and could possibly reuse their install location when doing work outside of CaPTk... wh

[2020-02-21 20:25] ashishsingh18 commented on #859
@dboun This has nothing to do with loading. Infact your algorithm runs and even writes out the segmented result in the temp directory. The problem occurs when that result is read via readmask function. Something is not right with the imagesanity checks there.

[2020-02-21 20:33] ashishsingh18 commented on #877
@PhucNgo1711 This has been working for the last year without #883. Did something change ?

[2020-02-21 20:34] PhucNgo1711 commented on #877
@ashishsingh18  Nothing on our end. It's Microsoft tweaking their VMs every once in a while.

[2020-02-21 20:46] sarthakpati commented on #881
I ran DM distributed in 1.7.6 and I didn't find any reference to the path you mention in 1; at least nothing unexpected:

[code]

[2020-02-21 20:50] dboun commented on #859
I know that the algorithm works and runs. But the sanity checks are relatively simple, they check if there is a mismatch between what you are trying to load and what is in captk. That's why I'm saying the problem is probably earlier. If you read above I tried to convert the dcm->nifti first and everything worked..

[2020-02-21 20:53] ashishsingh18 commented on #854
@rongguangwang I tried 4 series consecutively from the data you shared. It works for me. Can you please tell me specifically which dicom series you are tried when gave that error?

[2020-02-21 20:54] dboun commented on #883
Hi all,

I have added "## Configuration file(s)" and "## Extension manager directories", please review and let me know if you have any questions

[2020-02-21 20:55] AlexanderGetka-cbica commented on #859
From what I am reading, this sounds similar to the problem I have with #757.

Check to see if the origin isn't messed up by the ReadImageWithOrientFix call when loading the mask for checking with ImageSanityCheck -- that is what was causing my "inconsistent dimensions" failure.

[2020-02-21 21:06] ashishsingh18 commented on #859
@dboun I have checked this thoroughly and can tell you that the problem is not earlier. I have even checked the properties of the loaded image. The problem is with readmask and image sanity checks for sure.

[2020-02-21 21:11] ashishsingh18 commented on #859
@AlexanderGetka-cbica I checked the origin as well. It is not that either. ReadImageWithOrientFix is getting called though. I am guessing this could be a rounding issue..

[2020-02-21 21:13] #852 closed

[2020-02-21 22:02] AlexanderGetka-cbica commented on #880
Just a general note related to this:
This is thrown as an itk::ExceptionObject from library code, rather than code we have written (side note: the what() message there really should be more specific). Addressing issues like this one involves either catching and handling the exception from our code, **or** not allowing the program state to reach the point where such an exception would be thrown. Th

[2020-02-21 22:26] vctorwei opened #885 "Feature extraction didn't generate some of the features in TCGA paper Bakas, S, et al. 2017"
**Describe the bug**
Hi
I tried to reproduce features described in paper 'Advancing The Cancer Genome Atlas glioma MRI collections with expert segmentation labels and radiomic features'
https://www.nature.com/articles/sdata2017117/tables/5
Some feature described in the paper were not produced by Captk 1.7.3/1.5.1, however I need to reproduce all the features in order to compare with TCGA data.

**

[2020-02-21 23:07] vctorwei commented on #885
I'm not sure if I should open a new issue, but there are another 2 problems
1. The default parameter files for window captk 1.7.6/1.7.3 are different from the one on github
[1_params_default.zip](https://github.com/CBICA/CaPTk/files/4238365/1_params_default.zip)
2.  Linux 1.7.6 cannot be installed correctly after the below procedure, the install directory is empty, I cannot find where I installed

[2020-02-22 23:55] sarthakpati commented on #881
Point 2 is duplicate of #879

[2020-02-22 23:59] sarthakpati commented on #879
#886 should fix this... It will become available on ```~/testing/captkMyForkInstall/bin/``` for testing shortly.

[2020-02-22 23:59] #879 closed

[2020-02-23 00:04] sarthakpati commented on #885
Thank you for the report!

For point 2, please see https://cbica.github.io/CaPTk/FAQ.html#gs_FAQ_5

I will get in touch with you via email about point 1.

[2020-02-23 00:04] #885 closed

[2020-02-23 00:40] ashishsingh18 commented on #885
@sarthakpati We should be keeping the discussion on GitHub so it might help other users who run into similar issues.

[2020-02-24 15:41] ashishsingh18 commented on #829
FeatureExtraction was not handling directories as input and therefore when we gave dicom directory as input we were getting the error. I have fixed this in a separate branch
https://github.com/ashishsingh18/CaPTk/tree/Issue_829

A sample command line argument to test is: FeatureExtraction.exe -i C:\workspace\Data\Testathon\issue829\dcm -m C:\workspace\Data\Testathon\issue829\3009186_FOR-PROCESSING

[2020-02-24 16:01] sarthakpati commented on #829
Is there anything I can do for this? From what I can see, it is squarely a DICOM-related issue.

[2020-02-24 16:10] AlexanderGetka-cbica commented on #860
I investigated this and believe I have found an explanation and solution.
The shell is responsible for tokenizing the arguments _given to CaPTk_ when appropriate -- such as if the user puts quotes around their directory containing spaces.
Under normal circumstances this would be acceptable, but since we then directly pass those args via a string to the std::system() call for the CWL application, t

[2020-02-24 16:20] ashishsingh18 commented on #829
@sarthakpati This FeatureExtraction code was not developed to handle dicom. It was not accepting directories as input as I mentioned in my previous comment. I have made that change. Dicom series is getting loaded now. But there are errors thrown further down in FeatureExtraction. It is no longer a dicom issue.

If you can investigate it would help. @dboun will also investigate this later.

[2020-02-24 16:23] sarthakpati commented on #829
The commit where you have made this change [[ref](https://github.com/ashishsingh18/CaPTk/commit/910718807c825744fc191d00be2068641b4d5da0)] this will not work because FE does a lot of sanity checks on the input images afterwards.

[2020-02-24 16:32] ashishsingh18 commented on #829
That is the only change needed for dicom loading. Once a dicom image is loaded, all else should work as for nifti.

[2020-02-24 16:38] sarthakpati commented on #829
You are right, the entire reading is offloaded to the ```cbica::ReadImage``` routine and all sanity checks happen after that [[ref](https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/src/FeatureExtraction.cxx#L119)]. As long as that function works, FE will also work.

[2020-02-24 16:51] sarthakpati commented on #829
The problem is here: https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/src/FeatureExtraction.cxx#L495

The image getting passed to ```cbica::GetExtractedImages``` is ```NULL```, thereby initiating the crash.

[2020-02-24 17:15] ashishsingh18 commented on #829
Correct. And if we step into the GetExtractedImage method, the actual error occurs in GetImageReader method during a sanity check.

It looks like the data is not correct.

When I load the input and mask into mitk, I can see that the dimensions and origin of mask do not match with the input. Here is how it looks when loaded into MITK

![image](https://user-images.githubusercontent.com/43445206/7517

[2020-02-24 17:23] sarthakpati commented on #829
We need to ensure that this works here, not in any other application.

The function ```cbica::ReadImage``` calls on the ```DicomIOManager``` for DICOMs [[ref](https://github.com/CBICA/CaPTk/blob/master/src/cbica_toolkit/src/cbicaITKSafeImageIO.h#L788)]; ergo, the issue is ```DicomIOManager```.

The data is completely fine, because on the CaPTk GUI, it bypasses that class and calls ```ConversionFro

[2020-02-24 18:55] sarthakpati commented on #860
BTW, I just ran the following command successfully:

[code]

[2020-02-24 20:14] rongguangwang commented on #854
@ashishsingh18 Somehow, it is working now! I guess there's some updates released?

[2020-02-24 21:03] #858 closed

[2020-02-24 21:03] #867 closed

[2020-02-25 02:22] ashishsingh18 commented on #854
@rongguangwang There is no new release yet. But I am glad that it is working for you. I will then close this issue.

[2020-02-25 19:01] #854 closed

[2020-02-25 19:37] chiharusako opened #889 "documentation update on image visualization"
## Issue
It is hard to figure out from the documentation how to zoom a specific area of the image

Documentation notes
1. contrast/brightness: right mouse button click + horizontal/vertical drag on any visualization panel, respectively.
2. windowing of intensities and setting of different visualization type: bottom-right panel.
3. zooming into the image via Ctrl + mouse wheel.

It would greatly he

[2020-02-26 00:50] ashishsingh18 commented on #829
There is no issue with DicomIOManager. The responsibility of Dicom IO module, including DicomIOManager, is to read Dicom data and return an ITK image in the format that CaPTk needs i.e. ImageTypeFloat3D. It also tells via a boolean variable if the Dicom reading succeeded or failed. All of this happens via the cbica::ReadImage adapter. The Dicom module doesn't change the image properties such as or

[2020-02-26 02:25] sarthakpati opened #890 "Single stats calculator for Z-score and P1P2 normalizer"
**Is your feature request related to a problem? Please describe.**
Currently, the stats are calculated using custom class, which is not needed.

**Describe the solution you'd like**
Use ```itk::StatisticsImageFilter``` [[ref](https://itk.org/Doxygen/html/classitk_1_1StatisticsImageFilter.html)].

[2020-02-26 02:27] sarthakpati opened #891 "Add rescaling function in Preprocessing"
**Is your feature request related to a problem? Please describe.**
There is no easy way to rescale an image or image series in CaPTk.

**Describe the solution you'd like**
Expose CLI functionality using ```itk::RescaleIntensityImageFilter``` [[ref](https://itk.org/Doxygen/html/classitk_1_1RescaleIntensityImageFilter.html)].

[2020-02-26 02:29] sarthakpati opened #892 "Series image normalization for ZScore and P1P2"
**Is your feature request related to a problem? Please describe.**
There is no mechanism to normalize a series of images. This is useful when training models using a single modality.

**Describe the solution you'd like**
Extend the functionalities already available in implementations for such cases.

[2020-02-26 02:35] sarthakpati commented on #892
Done with the following:

- https://github.com/sarthakpati/CaPTk/commit/5d0ddda5bcdc9f3a0de490fc05c89c925741da37
- https://github.com/sarthakpati/CaPTk/commit/da1790c97fb5f1c7af6bdbdaf6e89e72cb6ac330

[2020-02-26 02:35] #892 closed

[2020-02-26 02:35] sarthakpati commented on #891
Done: https://github.com/sarthakpati/CaPTk/commit/62f9b40e8b830428303401b7088331ac9f4e6262

[2020-02-26 02:35] #891 closed

[2020-02-26 02:35] sarthakpati commented on #890
https://github.com/sarthakpati/CaPTk/commit/4c4259e5ac8b9a80c73d5cb6d3762601d7f89701

[2020-02-26 02:35] #890 closed

[2020-02-26 03:09] sarthakpati opened #894 "Add Hausdorff distance calculation to Utilities"
**Is your feature request related to a problem? Please describe.**
No mechanism to calculate Hausdorff distances exists in CaPTk.

**Describe the solution you'd like**
Expose a CLI API using ```itk::HausdorffDistanceImageFilter``` [[ref](https://itk.org/Doxygen/html/classitk_1_1HausdorffDistanceImageFilter.html)].

[2020-02-26 03:17] sarthakpati commented on #894
Done.

[2020-02-26 03:17] #894 closed

[2020-02-26 03:29] dboun commented on #846
Updates/notes:

Alex and I got Confetti python+nuitka running on windows after a lot of pain (not related to nuitka, mostly coming from the dependencies being very old). We documented the process we used for future reference, it will added to confetti's src directory.

( @AlexanderGetka-cbica about ConfettiCore.dll: it gets built - I presume statically - when you build captk. So we can just use th

[2020-02-26 03:43] dboun commented on #829
I will be able to contribute more to the discussion after the changes get through and I can build on debug in linux.

That been said, @ashishsingh18 can you make clearer what you want me to try?

Also are we positive that this is not a different manifestation of issue #859? I understand that there is a good chance it's not, but I can't help but notice that both issues are basically about dicoms, t

[2020-02-26 04:28] ashishsingh18 commented on #829
@dboun This issue is unrelated to #859. Here the data is bad, meaning the image properties of the 2 input datasets are different. #859 is about rounding error in the sanity checks. Could you please investigate the root cause of this issue?
Please do your investigations with the data that Walt shared and with my changes from branch: https://github.com/ashishsingh18/CaPTk/tree/Issue_829
You will nee

[2020-02-26 13:38] sarthakpati commented on #829
I may be missing something here but the datasets in ```/cbica/home/mankowsw/comp_space/captk``` (both the DICOM image and NIfTI mask) loads up fine on the GUI (on the 1.7.6 release):

![image](https://user-images.githubusercontent.com/11719673/75349502-e6ce0980-5872-11ea-9903-116a590837a8.png)

The fact that the mask and image are oriented differently is on whoever prepared the data, of course.

W

[2020-02-26 14:54] ashishsingh18 commented on #829
One of the data is an image(dicom data) and the other(nifti one) is a mask. If you try to load both of them together they don't load. In the images above, you have loaded the mask as an image. Try to load the dicom data as an image and the mask as an ROI and see the result. This is how Walt is loading the data in FeatureExtraction.

Here is what I get on 1.7.6

![image](https://user-images.githubu

[2020-02-26 15:14] sarthakpati commented on #829
That is correct behavior since we do not want people to mix the image and mask types, i.e., the image and mask need to be in the same physical space (see [testMask.nii.gz](https://github.com/CBICA/CaPTk/files/4256465/testMask.nii.gz) attached).

The issue is that even if the mask was valid, FE won't be able to read the DICOM image because of what I pointed out.

[2020-02-26 15:16] ashishsingh18 commented on #829
I am able to load all LIBRA sample DICOM data via GUI in CaPTk. Here's a screenshot.
![image](https://user-images.githubusercontent.com/43445206/75357544-88f3ee80-587f-11ea-9420-093e116840a6.png)

Btw you have also loaded mammography dicom data that Walt shared. You even posted a screenshot of it in your[ previous comment.](https://github.com/CBICA/CaPTk/issues/829#issuecomment-591430264)

Also, w

[2020-02-26 15:34] ashishsingh18 commented on #829
So the data that Walt is trying is indeed bad.

Btw, have you tried with the fix I had in: https://github.com/ashishsingh18/CaPTk/tree/Issue_829

If there is another data or workflow that doesn't work, we should open another issue on Github and deal with that separately.

[2020-02-26 15:44] sarthakpati commented on #829
Please read [this](https://github.com/CBICA/CaPTk/issues/829#issuecomment-590449168) comment again. I never said that we are bypassing DICOM reading. I said that we are bypassing using the ```DicomIOManager``` class for 2D images.

The fix in your branch doesn't work, either.

The mask+image combination that @waltman is trying is **definitely** invalid. But my point is that even if he tried to use

[2020-02-26 15:46] ashishsingh18 commented on #829
Btw, I just tried FE with the changes I had in branch: https://github.com/ashishsingh18/CaPTk/tree/Issue_829

and with the testMask.nii.gz you shared( [here ](https://github.com/CBICA/CaPTk/issues/829#issuecomment-591477589)) and it seems to work...

Not sure if the output it produces is correct but it definitely doesn't crash..

[2020-02-26 17:57] DushyantSahoo commented on #862
@ashishsingh18 The error is same- "Couldn't convert the DICOM with the default parameters; please use command line functionality". Yes, I am not selecting images, I am selecting a folder and that folder has dicom images. I am running this on my desktop.

[2020-02-26 18:18] vishnubashyam opened #897 "EGFRvIII Prediction Error"
**Describe the bug**
On the Linux GUI, I am getting some odd results for the EGFRvIII predictions when I train my own model.

The model trains without any errors, but the predictions show the same score and status for all subjects.
When I look into the model file some of the values are NaN.
I have attached the model file below.

Here is some data to reproduce the issue:
Testing: /cbica/projects/br

[2020-02-26 18:58] DushyantSahoo commented on #862
On the terminal the error is- "tmp/.mount_captkTSpyaj/usr/bin/dcm2nii: not found"

[2020-02-26 19:53] ashishsingh18 commented on #862
@DushyantSahoo Could you please point me to the data on the cluster?

[2020-02-26 21:08] #860 closed

[2020-02-26 22:04] AlexanderGetka-cbica commented on #845
@sarthakpati Were you really able to get Theia working with PyInstaller on windows? I can build it successfully using PyInstaller on Linux, but it doesn't actually run correctly for me. I suspect this has to do with how it handles calling the other included python scripts, but I'm not sure.

Do you know how the other files can be bundled into it? If not I have to do some more digging tomorrow.

[2020-02-27 01:57] sarthakpati commented on #845
That is the version that is out there right now. I believe it was @PhucNgo1711 that did it, however.

I am not 100% sure what the requirements for Theia are, to be honest. Again, @PhucNgo1711 is the correct person to ask since he was one of the original developers of the project. :)

[2020-02-27 15:38] sarthakpati commented on #829
If that is the case, then it might be better to do this change on the ```cbica::ReadImage``` level so that the user-facing CLI is the same, i.e., they pass a single NIfTI file OR the first DICOM file in a series. Passing a folder creates potential confusion.

[2020-02-27 15:50] parthsharma853 opened #898 "Command line Affine Registration produces deformed image"
**Describe the bug**
Affine registration produces deformed image for 1/4 modalities.
The registration worked perfectly for t1ce but not for the rest of the modalities.

The registration for the same works when done using:

/cbica/home/sakoc/software/greedy/v1.0.1/build/greedy

Greedy Version 1.0.1

  Release date:      Mar 21, 2019

  Compile date:      Jun 04, 2019

  GIT branch:        master

[2020-02-27 16:53] parthsharma853 opened #899 "Rigid Registration not available on command line captk"
**Describe the bug**
Command line captk doesn't give an option to perform Rigid registration.

GUI Captk application doesn't give option for deformable registration.

**To Reproduce**
1) Command line documentation provides the following:
Command

Result

                           Defaults to 'Affine
                           Can use Mask File
                           Expected Type  :: STRING

[2020-02-27 19:48] ashishsingh18 commented on #862
@DushyantSahoo We got some data from @chiharusako but are still not able to replicate this issue.

Is this occuring for just one specific data or for all datasets?

It seems that this is something specific to your machine. If you are around we will need to sit with you to try some more things.

Also tagging @AlexanderGetka-cbica

[2020-02-27 19:51] vishnubashyam opened #900 "GUI Bias Correction N4 or N3"
**Describe the bug**
In the GUI there could be an indication which bias correction is applied (N4 or N3) or some way to specify between them.

Version 1.7.6
Ubuntu 18.04

[2020-02-27 20:00] vishnubashyam opened #901 "Cross Validated Scores for Predictors"
**Is your feature request related to a problem? Please describe.**
It is difficult to estimate the performance of a user trained model on any of the prediction modules.

**Describe the solution you'd like**
When training models on user-provided data it would be very helpful to have the cross-validated scores on the training data. This would allow users to evaluate the performance before applying i

[2020-02-27 20:35] chiharusako opened #902 "Error message when downloading sample data"
**Describe the bug**
When selecting the Help->Sample Data -> All
an error message is displayed
Error "Data Directory not found. Please re-install"

The download does start despite of the message.

**Screenshots**

![image](https://user-images.githubusercontent.com/47368657/75483566-20873900-5975-11ea-8537-0b360ef22a97.png)

**CaPTk Version**
1.7.6 Linux version

**Desktop (please complete the foll

[2020-02-27 20:53] AlexanderGetka-cbica commented on #862
Developer notes:
- The only way for the  `Couldn't convert the DICOM with the default parameters; please use command line functionality` error to be raised is if `cbica::ReadImage(inputDir)` DICOM reading returns a nullptr (fails). Functionally, this issue only happens if CaPTk defers to the dcm2nii executable because cbica::ReadImage fails to handle the DICOM.

- We do not output to the terminal

[2020-02-27 21:30] AlexanderGetka-cbica commented on #902
I can't seem to reproduce this on my machine running ubuntu.
However, this message is only raised inside `getCaPTkDataDir()` when it can't find the data directory (which is perhaps a symptom of a larger problem with the install).

[2020-02-27 21:42] parthsharma853 opened #903 "Command line N-3 Bias Correction doesn't execute"
**Describe the bug**
After executing the command specified in the documentation, system just freezes with no messages and doesn't respond until manual exit using Ctrl+Z

**To Reproduce**
Command:

Result:
There is no response on the screen and the program doesn't exit the execution until done so manually.

**CaPTk Version**
1.7.6

**Desktop (please complete the following information):**
Linux on C

[2020-02-28 02:49] dboun commented on #901
Cross-validation is an option in the training module. But for me it didn't, the Training Module window just closed when I clicked "Confirm" and nothing happened.

[2020-02-28 16:00] AlexanderGetka-cbica commented on #903
In my attempts to reproduce this, I have found that, on both my personal installation (Ubuntu 18.04) and on the cluster, N3 bias correction from the command line takes significantly longer than from the GUI.
From the command line, using the "time" command, it took just over 3 minutes on the cluster and approximately 45 seconds on my machine.
On the GUI this took maybe 3 seconds max. Most of that w

[2020-02-28 16:20] vishnubashyam opened #904 "Recurrence Infiltration Index Missing Data Error [GUI]"
**Describe the bug**
For the Recurrence Infiltration Index, I am getting this error even when I am providing a segmentation file with the correct labels:

![image](https://user-images.githubusercontent.com/20879448/75565476-ffc5ee80-5a1b-11ea-9a16-ed61035f1af0.png)

Input data can be found here:
/cbica/home/sakoc/20200203_captktesting/input/Vishnu/Recurrence/input/

1.7.6
Ubuntu 18.04

[2020-02-28 16:22] vishnubashyam opened #905 "EGFRvIII PHI Estimator Data Missing Error [GUI]"
**Describe the bug**

![image](https://user-images.githubusercontent.com/20879448/75565686-6519df80-5a1c-11ea-8037-cfd72aa45d32.png)

When running the EGFRvIII PHI Estimator, the GUI asks for nearfar labels even when they are present.

The documentation says that this Label file is command line only (not sure what that means):
![image](https://user-images.githubusercontent.com/20879448/75565693-68

[2020-02-28 16:27] vishnubashyam opened #906 "PsP Estimator Data Error [GUI]"
**Describe the bug**
The PsP Estimator is not working with the pretrained model or when training a new model. When trying both features I am getting the following error even though the correct files are present:

![image](https://user-images.githubusercontent.com/20879448/75565943-e6717200-5a1c-11ea-911d-befc839ececb.png)

Data can be found here:
testing: /cbica/home/sakoc/20200203_captktesting/in

[2020-02-28 16:39] parthsharma853 commented on #903
Hi @AlexanderGetka-cbica ,

I tried it again on the cluster again and this was the result. It ran for approx. 27 minutes without any output at which point I terminated it.

Here is the summary for reference:

I ran it in  /cbica/home/sharmapa/comp_space/Testathon/0_reorient/ACSL

 time -p captk Preprocessing -i ACSL_2019.02.28_t1_LPS.nii.gz -o ../../5_N3biascorrection/ACSL/ACSL_2019.02.28_t1_LPS_N

[2020-02-28 16:40] AlexanderGetka-cbica commented on #866
@DushyantSahoo When the process is done running in the terminal (when it reports that skull stripping is done), does the CaPTk GUI remain frozen/stuck, or does it become usable again?

[2020-02-28 17:05] chiharusako opened #907 "BrainTumor specialized applications - providing information on missing files"
**Is your feature request related to a problem? Please describe.**

Formatting the input directory for the Brain Tumor specialized applications is very complicated, where files need to be placed in a specific location with a specific name included.
When a file is missing or mis-named, CaPTK simply will not include those subjects saying
Number of subjects with required input: 0

**Describe the solu

[2020-02-28 17:08] AlexanderGetka-cbica commented on #902
Tagging this as major -- while the error message itself does not impact the ability of users to download the sample data, there are two possibilities.
1. The data directory really isn't found, and a full reinstall is warranted (meaning, most likely, there is an issue with the installer or how the data directory is stored/found)
or
2. The data directory _is_ present, and this error message heavily

[2020-02-28 17:24] AlexanderGetka-cbica commented on #903
Okay, I am able to reproduce this using the same input. Investigating.

[2020-02-28 17:31] AlexanderGetka-cbica commented on #870
@viraj28m Can you please open a separate issue for this? Please include all the steps to replicate this behavior and preferably show us a screenshot of the error.

[2020-02-28 17:33] vishnubashyam commented on #906
Also the testing does not work with the features.csv file included.
Data can be found here:
/cbica/home/sakoc/20200203_captktesting/input/Vishnu/PsP/2_test/input

[2020-02-28 17:34] vishnubashyam commented on #904
This does work when specifying a folder in the batch mode.

[2020-02-28 17:46] AlexanderGetka-cbica commented on #903
Update: with this file, the N3 bias correction takes 38 minutes(!) to finish on the cluster.
This image is 13 MB, while the image I tried initially is around 3 MB.
However, on the GUI, the bias correction for this still takes almost no time at all.

[2020-02-28 18:31] parthsharma853 opened #908 "Documentation errors in command line Diffusion Derivatives."
**Describe the bug**
There are a couple of errors in command line DiffusionDerivatives.exe documentation

1) In required parameters section, -v for .bvec file is missing whereas in the Example command it is specified.

2) The expected type for all the below is STRING.

                                          Expected Type  :: STRING
                                          Expected Range ::

[2020-02-28 18:44] parthsharma853 opened #909 "Diffusion Derivative doesn't produce any output [Command Line]"
**Describe the bug**
Executing DiffusionDerivatives doesn't produce any output in the output directory when run on command line.

**To Reproduce**

Go to /cbica/home/sharmapa/comp_space/Testathon/nifti/ACSL

Command:

Output:

        Version: 1.7.6

Contact: software@cbica.upenn.edu

See COPYING file or https://www.med.upenn.edu/sbia/software-agreement.html
=======================================

[2020-02-28 20:23] ShyamDesai opened #910 "Default param file not found, Feature Extraction for Mammography"
**Describe the bug**
Based on the CaPTk documentation, the Feature Extraction module ships with default parameters for 3D and 2D images. I attempted to run Feature Extraction application from the cluster on a processed mammography image and corresponding mask without specifying Feature Extraction params. I experienced the following error:
No default param file was found. Please set it manually usi

[2020-02-28 20:45] ShyamDesai opened #911 "BreastTexturePipeline: empty .csv & mask directories, error messages in CLI"
**Describe the bug**
Attempted to run the BreastTexturePipeline module on a single DICOM image. Output seems fine at first, LIBRA executes and runs. Produces the following error in CLI with debug option:

MATLAB was unable to run the matlab_helper executable, which the ! and
unix() commands require.  You may have an incomplete installation or
permission problems with /gpfs/fs001/cbica/software/lab

[2020-02-28 21:06] ChitaliaR opened #912 "Loading an image into CaPTk on desktop"
**Describe the bug**
When I try to load a Nifti image saved on my cluster drive into CaPTk via the desktop interface, the program crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Load Image'
2. Select file from mapped drive location

**Expected behavior**
The image should load

**Screenshots**
The program crashes without showing anything

**CaPTk Version**
1.7.6

**Desktop (ple

[2020-02-28 21:20] AlexanderGetka-cbica commented on #909
This seems to be a combination documentation and command line parsing issue.
From the usage for DiffusionDerivatives.exe:

This is very standard in our applications (passing -v ignores the other input, performs no operation and instead displays the version text.
However, the documentation states (and as far as I know, this is true) that DiffusionDerivatives requires a bvec file provided _using the

[2020-02-28 21:45] parthsharma853 opened #913 "Writing dicom from nifti flips the image [Command Line]"
**Describe the bug**
Using -n2d in utilities flips the image

**To Reproduce**

Go to /cbica/home/sharmapa/comp_space/Testathon/nifti/ACSL

Command

**Screenshots**
Original Dicom

![ACSL_1_original_dcm](https://user-images.githubusercontent.com/58265133/75589574-21899a80-5a49-11ea-9c54-2c22992cdca7.png)

Original Nifti
![ACSL_2_original_nifti](https://user-images.githubusercontent.com/58265133/75

[2020-02-28 22:02] AlexanderGetka-cbica opened #914 "molecular subtype prediction crashes CaPTk"
**Describe the bug**
When running glioblastoma molecular subtype prediction, CaPTk crashes with the following error:

An output file is generated for the algorithm in the provided output directory but it is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CaPTk
2. Go to the applications menu
3. Click Glioblastoma Molecular Subtype Prediction
4. Run the prediction on the sample mod

[2020-02-29 12:57] ashishsingh18 commented on #907
@dboun Is this along the lines of what you were thinking for common structure for cohort ?

[2020-02-29 13:45] sarthakpati commented on #909
Actually, this is a bug in that file. No CLI should be using the following parameters since they are defined by ```CmdParser``` internally and will *always* be overridden: ```u, usage```, ```h, help```, ```v, version```, ```-u, --usage```, ```rt, run-test```, ```cwl, cwl```.

I believe this is documented in the class definition as well.

[2020-02-29 14:11] sarthakpati commented on #910
Thanks for the bug report!

CaPTk does indeed ship with default parameter files (see ```${CaPTk_Install_Dir}/data/features/```) which are intended to be guidelines for users to follow to extract features. The idea is that users would customize the parameter file based on their study/data and then perform extraction.

The program explicitly does not make assumptions about any selections. One exampl

[2020-02-29 14:11] #910 closed

[2020-02-29 14:40] sarthakpati commented on #911
Thank you for the report, @ShyamDesai!

So, this seems to be a duplicate of #584, which for some reason has recurred:

[code]

The commit https://github.com/sarthakpati/CaPTk/commit/3d0bb079b19b1f44134a4e0c138895153a71b2c2 should have fixed this. Unsure why the permission change is not going through...

[2020-02-29 17:05] dboun commented on #907
While the cohort file could help solve mitigate this, I think this issue is about the lack of feedback on why a subject was not included.

[2020-02-29 19:31] sarthakpati commented on #911
Fixed:

[code]

I am still investigating how this happened. Once I find out more, I will post details. But this issue should be fixed, so closing issue.

[2020-02-29 19:31] #911 closed

[2020-02-29 23:56] sarthakpati commented on #829
[This commit](https://github.com/sarthakpati/CaPTk/commit/207bbbaedfd4bb5c608540d4731cee6399837174) is the appropriate fix for this issue.

[2020-03-01 00:40] ashishsingh18 commented on #905
@vishnubashyam could you please tell how you are loading the mask? The mask needs to be loaded via File->Load->ROI

[2020-03-01 13:00] vctorwei opened #915 "Same parameter file produced different number of features by FeatureExtraction"
**Describe the bug**
Hi, There were 2 problems when I used feature extractions
1. I used same feature extraction parameter file but different number of features were extracted for different patients.
2. The other problem is that nan produced for some of the features, including:
NGLDM
Morphologic_X_Eccentricity(both X/Y/Z)
Morphologic_X_EllipseDiameter(both X/Y/Z)
etc...

**To Reproduce**
I tried b

[2020-03-01 13:50] vctorwei commented on #915
Sorry, I just figured out question 1 myself, the different number of feature was caused by different histogram bin size since I chosed FixedBinSize in the parameter, there will be different number of bin for histogram.

But I STILL need help for the nan values features

Thank you

[2020-03-02 04:30] ashishsingh18 commented on #913
@parthsharma853 I have been unable to replicate this with other data sets. I still need to try this with the specific data you referred.

[2020-03-02 14:37] AlexanderGetka-cbica commented on #845
After getting some really weird behavior* trying to run Theia (either from the python script or from the onefile executable) on Linux, I talked with @PhucNgo1711 -- it appears that Theia wasn't tested / never worked on Linux.

@CBICA/devteam In order to prevent the vulnerability we would need someone with a windows machine to give Theia a quick onefile build and test.

* Seems to do nothing except

[2020-03-02 19:54] sarthakpati commented on #915
@vctorwei: Most of the features extract features _per-slice_ in addition to the **entire** ROI. For some of these, the per-slice feature result in zero; this is something that is determined by the math. You can completely disregard these features and only consider the ones that have the ```Axis=3D;Dimension=3D``` tag at the end.

@CBICA/devteam: I receive this question fairly regularly. Would it m

[2020-03-02 20:46] sarthakpati commented on #903
The implementations on the CLI and GUI should be the same. #900

[2020-03-02 21:23] ashishsingh18 commented on #915
also, adding it in FAQs would make sense

[2020-03-02 21:45] ashishsingh18 commented on #818
@chiharusako Could you please share the data and model you were using for this?

Were you using model from 1.7.5 or 1.7.6? I see 1.7.5 from the first comment.

[2020-03-03 14:32] sarthakpati opened #916 "Utilities: add direction information"
**Is your feature request related to a problem? Please describe.**
The information currently doesn't include direction, which can be easily rectified.

[2020-03-03 14:58] sarthakpati commented on #916
Done.

[2020-03-03 14:58] #916 closed

[2020-03-03 19:53] ashishsingh18 commented on #905
@vishnubashyam I tried this with the data you mentioned and it worked without any errors.

[2020-03-03 20:13] ashishsingh18 commented on #905
@AlexanderGetka-cbica @dboun Can one of you try this on Ubuntu, since that is the OS mentioned in the initial bug report? I have tried this and it works fine on Windows.

[2020-03-03 21:42] AlexanderGetka-cbica commented on #905
From the GUI, I attempted this with the EGFRVIII surrogate index (PHI estimator) sample data  after loading the near-far ROI through the File->Load->ROI menu and it seemed to work correctly.
The documentation for this should be clearer that these images and the ROI need to be loaded into CaPTk's image panel ahead of time.

[2020-03-03 21:59] AlexanderGetka-cbica commented on #900
Just as a note, it seems like the GUI internally calls (the GUI-specific implementation of) N3 bias correction no matter what.

[2020-03-03 22:53] ashishsingh18 commented on #905
@AlexanderGetka-cbica Have you tried with the data mentioned by @vishnubashyam ?

[2020-03-03 23:57] chiharusako commented on #818
I'm using the 1.7.6 model. I did though just notice that it crashed at h_vmem=32G, so I ran with h_vmem=64G and it gave non-empty results.

However, the results.csv does not look right as the distances are very similar for all subjects. This should not be the case for these subjects. Can you please take a look?

input:
/cbica/home/sakoc/comp_space/lab/Saima/20200117_captk175test/psp/2_HA63/input

[2020-03-04 00:03] ashishsingh18 commented on #906
@vishnubashyam **For testing:** The perfusion data that you are using at "1_test_no_featurefile/input" has incorrect name of 'AAMA_perf_truncated.nii.gz". Because the name is different than what is expected, you are getting that message.

[2020-03-04 00:21] chiharusako opened #918 "Utilities Changing datatype: -c uchar does not work and documentation update on -c short"
**Describe the bug**
-c uchar does not work.
Also documentation does not list the ability to specify datatype to short which is useful.

Documentation:
[  -c, --cast]                Change the input image type
                              Examples: '-c uchar', '-c float', '-c longlong'
                              Expected Type  :: STRING
                              Expected Range :: (u)char,

[2020-03-04 01:00] ashishsingh18 commented on #906
@vishnubashyam I just tried this and it works for me just fine and writes the results in the output directory, although I am on Windows.

@AlexanderGetka-cbica can you please try this specific scenario on Ubuntu with the data that @vishnubashyam mentioned?

[2020-03-04 14:29] AlexanderGetka-cbica commented on #905
@ashishsingh18 I lack the correct permissions to access that directory.

@chiharusako  is it possible for you to allow read/execute access to that directory
( /cbica/home/sakoc/20200203_captktesting/input/Vishnu/PHI/0_correct_input/ )
 for the purposes of testing whether this functionality fails with that data?

[2020-03-04 14:49] chiharusako commented on #905
I put a copy here:
/cbica/home/sakoc/comp_space/lab/captk/1.7.6/PHI/0_correct_input

This data gives output in command-line (tested on cluster; result below), so I am thinking it is either a GUI issue on loading the data or documentation.

PHI Value = 0.106882
Peak Height Ratio = 1.6165
Number of near voxels used = 562
Number of far voxels used = 669
Finished successfully.

From: Alexander Getka <

[2020-03-04 15:05] AlexanderGetka-cbica commented on #909
I fixed the issue here on my branch by changing the relevant parameter shortword and subsequent logic. However this uncovered another issue: using the sample data for Diffusion Derivatives I get an error message stating (repeatedly): "multiple bvalues not allowed" and finally an exception-caused crash from an ITK filter running presumably with no input:

  what():  /home/agetka/work/CaPTk-superbui

[2020-03-04 15:35] sarthakpati opened #919 "Mask opacity is not changing"
**Describe the bug**
The opacity of the mask is not changing.

**To Reproduce**
Steps to reproduce the behavior:
1. Load images
2. Switch on comparison mode
3. Load ROI
4. Try to change mask
5. No difference in opacity is observed

**Expected behavior**
The opacity should change based on the combo-box under the drawing tab.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2020-03-04 15:54] ashishsingh18 commented on #905
@chiharusako The mask needs to be loaded via File->Load->ROI

[2020-03-04 18:26] vishnubashyam commented on #905
Ahh okay, I didn't know to use the File->Load->ROI. This fixed it for me.

It would be a good idea to put this in the documentation though.

[2020-03-04 19:28] ashishsingh18 commented on #905
Great..

[2020-03-05 13:58] sarthakpati commented on #915
Addressed by https://github.com/sarthakpati/CaPTk/commit/59d64dc458b02add647a31b33198633ac47da8bd

[2020-03-05 13:58] #915 closed

[2020-03-05 14:00] sarthakpati commented on #848
Fixed courtesy https://github.com/sarthakpati/CaPTk/commit/3b9be618224cfc3dea8301a50b9139bf1e206a5b#diff-05e49ba6bf4551886b0aac198a8208ad

[2020-03-05 14:00] #848 closed

[2020-03-05 14:01] #829 closed

[2020-03-05 14:02] sarthakpati opened #921 "Re-enable commented features and add appropriate tag"
**Is your feature request related to a problem? Please describe.**
Some features are missing.

**Describe the solution you'd like**
Some of the IBSI non-compliant features were commented, which should go back with the appropriate tag.

[2020-03-05 14:03] sarthakpati commented on #921
Fixed with https://github.com/sarthakpati/CaPTk/commit/8b41e5086edab9dd4bf7af79997ed5474e93c471

[2020-03-05 14:03] #921 closed

[2020-03-05 15:42] ashishsingh18 commented on #869
This is fixed

[2020-03-05 15:43] #869 closed

[2020-03-06 02:32] #905 closed

[2020-03-06 14:28] #859 closed

[2020-03-06 14:47] ashishsingh18 commented on #889
Done.

[2020-03-06 14:47] #889 closed

[2020-03-06 18:21] waltman commented on #829
As far as I can tell this is a feature of the Texture Pipeline code. It orients all the images and masks to face the same direction.

[2020-03-06 18:25] waltman commented on #829
Is this fix testable now on the cluster?

[2020-03-06 18:31] sarthakpati commented on #829
You can access the updated executable in ```~patis/testing/captkMyForkInstall/bin``` for testing.

[2020-03-06 19:48] waltman opened #924 "Image dimension mismatch on 2d mammo dicom"
**Describe the bug**
I'm testing the fixed code referenced in [issue 829](https://github.com/CBICA/CaPTk/issues/829). The good news is that it appears to now be reading in the dicom file. The bad news is that now it's failing with a different bug:

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I'm not sure since I've never managed to get `FeatureExtraction` to run

[2020-03-06 20:20] ashishsingh18 commented on #924
@waltman are you using the same data that you used in #829 ? If yes, that data was indeed incorrect. There was a mismatch between the dimension and origin of the mask and input.

[2020-03-06 20:40] waltman commented on #924
Yes, they're the same images as before. I just pulled them up in itksnap. I thought based on the discussion that one was facing left and the other right, but that doesn't seem to be the case.

It says that both images are 3328x4096x1. Under orientation, the origin is 0x0x0 and RAI. The mask is -0.065x-0.065x0 and LPI. Which of these is causing the problem?

[2020-03-06 22:00] jvbelenky opened #925 "Feature extraction producing NaNs"
**Describe the bug**
When running FeatureExtraction in either batchmode or single mode, everything seems to run okay but nothing is outputted to the output file. Alternate parameter files with only intensity features included, and only intensity features plus preprocessing, were also tried, but produced the same error.

Outputs the following:

[DEBUG] Patient ID: Case_25
[DEBUG] Images: /cbica/hom

[2020-03-06 23:41] ashishsingh18 commented on #924
Here are some of the properties of the 2 datasets you are trying to load. As seen the dimensions and origin for both are different.
![image](https://user-images.githubusercontent.com/43445206/76130764-00412500-5fda-11ea-9dc6-ab01601dcb98.png)

[2020-03-07 00:55] sarthakpati commented on #925
Would I have read access to the image and mask?

[2020-03-07 14:30] sarthakpati commented on #924
I have added another sanity check for these kinds of inputs. @waltman, could you please retry from ```~patis/testing/captkMyForkInstall/bin/FeatureExtraction```?

[2020-03-07 14:41] sarthakpati commented on #925
I am bit confused. You said that you were getting NaNs. But when I ```cat``` the specified output file, I see proper values:

[code]

[2020-03-09 14:07] waltman commented on #924
Now the output I get is
[code]

I'll check with Omid and Aimilia and see if we can tweak how the Texture Pipeline code generates our masks.

[2020-03-09 14:12] sarthakpati commented on #924
Which is exactly correct, if you look at the image information I posted from my previous comment.

FYI, you can use the ```Utilities -inf``` command to verify the image information to ensure the veracity of generated masks. We have seen similar issues when masks are written from MATALB/Python.

[2020-03-09 15:03] waltman commented on #924
After our conversation I went back and checked how I set up the Texture Pipeline. It is using LIBRA to generate the masks. However, LIBRA saves the masks as 2D binary matrices. The pipeline code reads that in, but it's the piece that's generating the nifti, not LIBRA.

[2020-03-09 16:07] ashishsingh18 commented on #818
@chiharusako I cannot find the input folder. Is the path correct?

[2020-03-09 16:18] chiharusako commented on #818
Sorry, I forgot about this and moved the link. I jut put it back and it should be there now.

[2020-03-09 17:57] sarthakpati commented on #924
Unsure about the version of LIBRA. The one bundled with CaPTk produces the mask in the correct physical space.

[2020-03-09 22:36] ashishsingh18 commented on #818
@chiharusako Is the input folder a 'link'? I am now getting weird errors just loading the data. I am working on windows and the code is not able to find any of the data that you shared although the data is there in the folder. Could you please confirm if the data is a link or not?

[2020-03-10 12:47] chiharusako commented on #818
Yes, it is a link. I made a hard copy here:
/cbica/home/sakoc/comp_space/lab/Saima/20200207_catpk176test/psp/2_HA63/input

The link works on the cluster, command line, and reads all 63 subjects.

[2020-03-10 13:47] AlexanderGetka-cbica commented on #919
I can reproduce this bug on my machine.
However, there is a workaround in that you can switch back to 3D visualizer mode, change the opacity to the desired level, then change back to comparison mode and the mask opacity will remain at the chosen level.

[2020-03-10 14:00] AlexanderGetka-cbica commented on #903
Just FYI, the GUI implementation's extra steps are derived exactly from those used in [ANTs. ](https://github.com/ANTsX/ANTs/blob/master/Examples/N3BiasFieldCorrection.cxx)
This is the tool that the analysts use, which is a fair indicator that the N3BiasCorrection.h code called from the GUI is the preferred implementation. I'm working on integrating that functionality into the CLI while making sur

[2020-03-10 14:15] sarthakpati commented on #903
Would it be possible to make the Bias correction schema generic so that one could pass either N3 or N4 and have a single ```cbicaBiasCorrection``` class to call with the rest of the parameters (i.e, filter width, noise level and so on) as options?

[2020-03-10 15:15] AlexanderGetka-cbica commented on #903
Sure, I can do this.

[2020-03-10 15:41] ashishsingh18 commented on #912
This is working just fine and I am unable to reproduce the issue. Tried it from multiple mapped drives.

[2020-03-10 15:41] #912 closed

[2020-03-10 18:22] chiharusako commented on #913
@sarthakpati I thought we fixed this in #676 . Was the change merged?

[2020-03-10 19:08] ashishsingh18 commented on #818
@chiharusako I am able to run this now. What are the expected results for these subjects? Is there a version of CaPTk that produced correct results?

[2020-03-10 19:55] sarthakpati commented on #913
@chiharusako We had tested it on a bunch of images after merging in https://github.com/sarthakpati/CaPTk/commit/d796e1f75e4e09e49528f57a3b9a23f278add505

[2020-03-10 20:09] chiharusako commented on #913
@sarthakpati I can replicate this flip also, and I'm not sure why because I thought I tested back then also.

@parthsharma853 - please provide @ashishsingh18 with the data, outside this thread as it involves dicoms

[2020-03-10 20:55] ashishsingh18 commented on #818
@chiharusako This is isn't working on both 1.6.2 and 1.7.6 with the updated filenames. I am on Windows though.

[2020-03-10 21:10] ashishsingh18 commented on #913
@chiharusako Nifti to dicom conversion is not an easy problem because Nifti doesn't have all the metadata that a dicom requires. The method that we currently have has bigger problems than just image flip. If incorrect reference dicoms are supplied, it is highly likely to fail.

[2020-03-10 23:16] chiharusako commented on #818
I just tried on 1.6.2 on my windows and it works. Are you using the correct input?
/cbica/home/sakoc/comp_space/lab/Saima/20200207_catpk176test/psp/2_HA63/input

it also works on 1.7.6 on cluster.

[2020-03-11 14:03] chiharusako commented on #913
@ashishsingh18 Thanks for looking into this functionality as it is important for the lab. Here is an example. No new reference dicom is introduced.

1. Anonymized TCGA dicom - to Nifti
2. This Nifti back to dicom

Files are in: /cbica/home/sakoc/comp_space/lab/captk/1.7.6/nifti2dcm

To reproduce:
1. Original dicom to nifti 19970608090647_AX_FLAIR_11.nii.gz
/cbica/home/sakoc/software/dcm2niix/v1.0.

[2020-03-11 14:15] chiharusako commented on #818
@ashishsingh18 FYI, the output and log for running all 63 on 1.6.2 is here:
/cbica/home/sakoc/comp_space/lab/Saima/20200207_catpk176test/psp/2_HA63/output_w162

[2020-03-11 23:22] jvbelenky commented on #925
This was a bit confusing to me as well; it seems that when I try to run
captk from the cluster directly it behaves this way and doesn't output
anything, although it prints some outputs to the console, but when I run it
from your directory it works fine. What I assume happened is that I kept
trying to output to the same file and didn't notice until this week that at
least one of my tests from Frida

[2020-03-12 00:45] sarthakpati commented on #925
Could you please clarify what you mean by this?

This is something I should definitely look into prior to the next release. Any guidance you can provide regarding this, e.g., the commands run along with exemplary data, would be tremendously helpful. Anyway, I am closing this issue but feel free to respond here (and reopen if needed).

[2020-03-12 00:45] #925 closed

[2020-03-12 17:35] sarthakpati opened #926 "[Utilities] Convert images from one pixel type to another"
**Is your feature request related to a problem? Please describe.**
The default save pixel type in CaPTk is ```float```, which is fine for computation but for large scale studies, saving segmentations as float **dramatically** increases the space requirement.

**Describe the solution you'd like**
Add ```-cov``` parameter to ```Utilities``` that would give options for pixel type conversion.

[2020-03-12 17:39] sarthakpati commented on #926
Already present with ```-c```. Closing.

[2020-03-12 17:39] #926 closed

[2020-03-12 21:36] dboun commented on #712
I was able to replicate this accidentally. I will send you the data I used

[2020-03-12 21:45] sarthakpati commented on #712
Is this replicable for the input data on the current master or my fork? Please check the results using ```~patis/testing/captkMyForkInstall/bin/FeatureExtraction``` and let me know.

If it does not work, I'd need the following information to replicate:

- Input image(s)
- Mask
- ROI value(s) used
- Parameter file

[2020-03-13 00:37] sarthakpati commented on #712
I extracted the features and the ones giving NaN are expected (they are for features where the standard deviation is coming to '0' and the feature calculation involves division by std-dev).

[2020-03-13 00:59] dboun commented on #712
Understandable, but maybe we should inform the user that "some of the features contain nan values and that's because

[2020-03-13 01:01] dboun commented on #712
(reopened accidentally, but please see my comment above)

[2020-03-13 01:01] #712 closed

[2020-03-13 02:46] sarthakpati commented on #712
Sure! Please put this in as a new feature request and cite this issue.

[2020-03-13 14:20] dboun opened #928 "[FeatureExtraction] NaN value handling"
**Describe the bug**
Feature Extraction might output some NaN values because of division by zero etc. Maybe we can offer an option on how to treat anavoidable nan values in Feature Extraction? Like "keep", "remove samples that contain nan values", "remove features that contain nan values". Also we should inform the user when Nan values exist in the output, regardless

Related to #712

**CaPTk Vers

[2020-03-13 17:12] jvbelenky commented on #925
As in, run Feature Extraction on the cluster from
cbica/software/lab/[...]/1.7.6 (or 1.7.3 when that was the current
version), rather than locally on my machine or through the GUI. I don't
think I ever had any issues of this nature running it on my own machine,
only through cluster.

On Wed, Mar 11, 2020 at 8:46 PM Sarthak Pati <notifications@github.com>
wrote:

[2020-03-13 17:45] ChitaliaR opened #929 "GLRM_Z features returned as NaN"
## Expected Behavior
The feature extraction outputs should all have specific values when running 3D feature extraction

## Actual Behavior
GLRM_Z feature values returning NaNs

## Steps to Reproduce the Problem

  1. Run feature extraction with parameters set for 3D feature extraction
  2. Generate output file

## Specifications

  - Version: 1.7.6
  - Platform: Cluster
  - Subsystem:

[2020-03-13 17:47] ChitaliaR opened #930 "Morphology_X, _Y, _Z features returning NaN Values"
## Expected Behavior
These features should return specific feature values

## Actual Behavior
NaNs are returned in the feature extraction output file

## Steps to Reproduce the Problem

  1. Run feature extraction with 3D parameters (single subject)
  2. Generate output file

## Specifications

  - Version: 1.7.6
  - Platform: Cluster
  - Subsystem:

[2020-03-13 18:57] sarthakpati commented on #925
Interesting. I am not 100% sure what might be causing this; I'll get back to you once I have more information.

[2020-03-15 12:13] sarthakpati commented on #930
The per-slice computation has been converted to an optional parameter (https://github.com/CBICA/CaPTk/pull/927/commits/59d64dc458b02add647a31b33198633ac47da8bd).

If you can provide the in put mask offline, I can investigate further.

[2020-03-15 12:24] sarthakpati commented on #929
The per-slice computation has been converted to an optional parameter (https://github.com/CBICA/CaPTk/pull/927/commits/59d64dc458b02add647a31b33198633ac47da8bd).

If you can provide the input image+mask offline, I can investigate further.

[2020-03-15 12:28] sarthakpati opened #931 "Extend some of the options to include step-computation over a range of values"
**Is your feature request related to a problem? Please describe.**
To perform multi-bin analysis of texture features, one currently needs to run FE multiple times using different parameter files.

**Describe the solution you'd like**
- The option for ```Bins``` in the [parameter file](https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/data/1_params_default.csv), for exam

[2020-03-15 14:57] sarthakpati opened #932 "Extend cbica::filesInDir with functionality to pick up specific file patterns/extension and recursion"
**Is your feature request related to a problem? Please describe.**
When processing multiple files, customization is needed on the output of ```cbica::subdirectoriesInDirectory``` to get the functionality as needed.

**Describe the solution you'd like**
Extend ```cbica::filesInDir``` to perform this as an overload.

[2020-03-16 12:15] sarthakpati opened #933 "Add direction check in sanity check"
**Is your feature request related to a problem? Please describe.**
For cases where images are registered to different atlases, their physical information would be same but direction might be different, which is not currently checked by ```cbica::sanityCheck```.

**Describe the solution you'd like**
N.A.

**Additional context**
This information is not even given by ```fslhd```.

[2020-03-16 14:58] sarthakpati commented on #933
This is done and will be available in my next PR.

[2020-03-16 14:58] #933 closed

[2020-03-16 14:58] sarthakpati commented on #932
This is done and will be available in my next PR.

[2020-03-16 14:58] #932 closed

[2020-03-16 16:34] sarthakpati commented on #931
Implementation for Bin and Radius finished on the CLI.

[2020-03-16 20:21] sarthakpati commented on #928
This already happens [[ref](https://github.com/sarthakpati/CaPTk/blob/master/src/applications/FeatureExtraction/src/FeatureExtraction.hxx#L1702)] but only for debug mode.

[2020-03-16 22:09] sarthakpati opened #934 "[FeatureExtraction] Add option for whole image binning"
**Is your feature request related to a problem? Please describe.**
The current quantization only happens on the defined region [[ref](https://discourse.itk.org/t/whole-image-binning-for-glcm/2835)].

**Describe the solution you'd like**
Add an option under the ```Generic``` feature family that handles ```WholeImageBinning```.

[2020-03-17 12:16] sarthakpati opened #935 "Lattice feature computation output needs header information in CSV"
**Is your feature request related to a problem? Please describe.**
Lattice output doesn't give header information; this was based on an earlier computation paradigm.

**Describe the solution you'd like**
Write the feature headers in the CSV.

[2020-03-17 12:18] sarthakpati commented on #935
Fixed in https://github.com/CBICA/CaPTk/pull/927/commits/37ea403de863c7f9fc05132cc715c842b524bcb7

[2020-03-17 12:18] #935 closed

[2020-03-17 12:19] sarthakpati commented on #931
Closing as major implementation is done; will re-open (or with new feature request) as needed for other parameters.

[2020-03-17 12:19] #931 closed

[2020-03-17 12:22] sarthakpati commented on #928
Done.

[2020-03-17 12:22] #928 closed

[2020-03-17 20:50] saimarathore opened #936 "batch feature extraction does not seem to work the way it was working in 1.7.1"
**Describe the bug**
Batch feature extraction in 1.7.6 does not seem to work as it was working in 1.7.1. I used the following query to extract features in 1.7.1, and it worked:
C:\CaPTk_Full\1.7.1\bin> .\FeatureExtraction.exe -p \\cbica-cifs\cbica\home\rathores\comp_space\parameters_FE_CaPTk.csv -b \\cbica-cifs\cbica\home\rathores\comp_space\FeatureExtractionCommands_LGG.csv -o \\cbica-cifs\cbica\

[2020-03-18 12:36] sarthakpati commented on #936
This has been fixed in the master. Unsure which commit fixes this. Please re-open if you can replicate on the master.

[2020-03-18 12:36] #936 closed

[2020-03-18 15:36] sarthakpati commented on #833
Hey @vishnubashyam, is this still an issue? I remember having a conversation with you about this and  you mentioned that when you used a different machine, it worked.

[2020-03-18 19:22] sarthakpati commented on #918
Added a small sanity check for this. Please test on ```~patis/testing/captkMyForkInstall/bin/Utilities``` later in the week to see if this re-occurs and then we can open this ticket again.

[2020-03-18 20:37] sarthakpati opened #937 "[Preprocessing] Single image computation is not working"
**Describe the bug**
Single image computation for all preprocessing is broken in master.

[2020-03-18 20:48] sarthakpati opened #938 "[Preprocessing] Registration does not consider pre-computed transformation"
**Describe the bug**
If a transformation has been passed using ```-rIA```, it is ignored.

[2020-03-18 20:58] sarthakpati commented on #938
This is now fixed.

[2020-03-18 20:58] #938 closed

[2020-03-18 21:42] sarthakpati commented on #937
This is fixed.

[2020-03-18 21:42] #937 closed

[2020-03-18 21:55] sarthakpati opened #939 "[Preprocessing] Registration - label computation does not work"
**Describe the bug**
Try to compute label/segmentation computation - there are float values in the result.

[2020-03-18 21:55] sarthakpati commented on #939
Done.

[2020-03-18 21:55] #939 closed

[2020-03-19 00:02] sarthakpati opened #940 "[Preprocessing] Registration NCC is not working"
**Describe the bug**
NCC metric doesn't work because of a stray ```transform upper```.

[2020-03-19 00:03] sarthakpati commented on #940
Done.

[2020-03-19 00:03] #940 closed

[2020-03-19 13:13] sarthakpati commented on #757
@AlexanderGetka-cbica: you might want to use the ```Preprocessing -ss``` CLI to see if the output is actually in the same space or not.

[2020-03-19 13:16] sarthakpati opened #941 "[Utilities] Information for HDR+IMG files goes for a toss because it gets detected as DICOM"
**Describe the bug**
Try to get the information from a IMG/HDR file and it tries to give the DICOM tags, which should not happen (example done with the [MNI atlas](http://imaging.mrc-cbu.cam.ac.uk/downloads/Colin)):

[code]

[2020-03-19 13:23] sarthakpati commented on #941
Done.

[2020-03-19 13:23] #941 closed

[2020-03-19 14:08] sarthakpati opened #942 "[Preprocessing] For deformable registration, the processing should happen if only both the deformation and inverse deformation fields are present"
**Describe the bug**
Currently, the check is only on the deformation field, which can cause issues.

[2020-03-19 14:09] sarthakpati commented on #942
Done.

[2020-03-19 14:09] #942 closed

[2020-03-19 17:30] jvbelenky opened #943 "[FeatureExtraction] Cannot run batchmode on local install"
**Describe the bug**
When attempting to run batchmode on my local machine, I get the following error:
![image](https://user-images.githubusercontent.com/35495855/77090155-21901100-69dd-11ea-80a4-7fd969f9e47c.png)

**To Reproduce**
Steps to reproduce the behavior:
[batchlist_UW_ser_alt.xlsx](https://github.com/CBICA/CaPTk/files/4355989/batchlist_UW_ser_alt.xlsx)
[3_params_default.xlsx](https://gith

[2020-03-19 17:45] sarthakpati commented on #919
Comparison mode goes to @ashishsingh18

[2020-03-19 17:47] sarthakpati commented on #902
Unable to replicate on current master.

[2020-03-19 20:22] sarthakpati commented on #898
This is happening in ```SSD``` configuration, sometimes. In the current master, all other configurations, i.e., NMI, NCC, are working fine. Closing the ticket; if I find any explanation about the SSD stuff, I will post here.

[2020-03-19 20:42] sarthakpati opened #944 "GUI doesn't have Deformable Registration"
**Is your feature request related to a problem? Please describe.**
CaPTk GUI does not have deformable registration

**Describe the solution you'd like**
Option to perform deformable registration via GUI.

**Additional Context**
Split #899 into a different one.

[2020-03-19 20:48] sarthakpati commented on #899
Done.

[2020-03-19 20:48] #899 closed

[2020-03-19 20:48] #898 closed

[2020-03-19 21:24] sarthakpati commented on #944
Done.

[2020-03-19 21:24] #944 closed

[2020-03-19 21:26] sarthakpati commented on #943
Hey @jvbelenky, this has been fixed in the master and will be made available in the next release. If you are interested to try out one of the nightly builds, please drop me an email and I will hook you up with the latest.

[2020-03-19 21:26] #943 closed

[2020-03-19 21:26] #918 closed

[2020-03-20 16:22] omaghsoudi opened #946 "Bug for lattice-based FE"
We used to have an issue with running the lattice-based approach for just 2D images (actually 3D image with the third dimension to be one).

[2020-03-20 16:22] omaghsoudi commented on #946
This is the same bug as:
https://github.com/CBICA/CaPTk/issues/824

[2020-03-20 16:25] omaghsoudi opened #947 "Overwriting on parameter file causing it to be zero if CaPTk was failing on one image"
CaPTk feature extraction module overwrites on the parameter files.
This is so annoying when the CaPTk fails to process the files causing the parameter file to be empty!

[2020-03-20 16:25] omaghsoudi commented on #947
This problem has been resolve as:
https://github.com/CBICA/CaPTk/issues/798

[2020-03-20 16:25] omaghsoudi commented on #947
w

[2020-03-20 16:29] omaghsoudi opened #948 "Issues for running FE on 2D image"
CaPTk feature extraction module mess up when the input image and mask have the same names!

[2020-03-20 16:30] omaghsoudi commented on #948
This was an important and simple issue, we checked the cluster, files, and many other things, and we realized that the issue was CaPTk being designed based on considering the file names are different.

This reported as:
https://github.com/CBICA/CaPTk/issues/779

[2020-03-20 16:32] omaghsoudi opened #949 "Bug in writing the results"
CaPTk feature extraction module fails to save results after all computations are over.

[2020-03-20 16:33] omaghsoudi commented on #949
It is realized that the CaPTk could not make directory if the directory did not exist. It was resolve as:

https://github.com/CBICA/CaPTk/issues/776

[2020-03-20 16:36] omaghsoudi opened #950 "The need for name of scan"
Why do CaPTk feature extraction module need asking for extra information?
"-n" and "-t" are not needed for many studies.

Please exclude them and add initial values for these two parameters as it can be annoying.

[2020-03-20 16:36] omaghsoudi commented on #950
I am not sure this issue has been resolved or not, but this is the same issue:

https://github.com/CBICA/CaPTk/issues/754

[2020-03-20 16:41] omaghsoudi opened #951 "Bug in writing the results"
Despite the computation is successfully over, CaPTk feature extraction fails to write the results on the drive.

[2020-03-20 16:41] omaghsoudi commented on #951
This issue has been discussed and resolved as:
https://github.com/CBICA/CaPTk/issues/776

[2020-03-20 16:46] omaghsoudi opened #952 "CaPTk issue for extracting features on large 3D files"
CaPTk 1.7.6 fails to extract features for large 3D images (2000*3000 pixels for each slice-- 90 slices).

Despite the CaPTk working on smaller images, it has the following issues for the large images:
1) It cannot generate the lattice-based image
2) extracting features are so slow
3) It needs a huge RAM 1TB or more to do so (resampling is 0.1 mm)

Solution:
CaPTk should have a mod for large images

[2020-03-20 16:48] omaghsoudi opened #953 "CaPTk feature extraction fails because of resampling"
If you provide image and mask with the same image resolution, but different resampling number, the CaPTk feature extraction module fails to extract features.

I have resolved this issue with a pre-processing step for myself but CaPTk can resolve such an issue and print that the issue existed and has been resolved; instead of crashing.

[2020-03-20 16:52] omaghsoudi opened #954 "Documentation for parameters file"
CaPTk feature extraction documentation is weak in my opinion. It is so hard to understand that feature have combined, individual, .....

Someone should sit and clarify the variables in another file or webpage, rather than briefly describing them in the parameter file that no-one can understand them. Please add some images to clarify what each of the parameters is supposed to do (at least major par

[2020-03-20 16:55] omaghsoudi opened #955 "CaPTk feature extraction needs a better description about resampling value selection"
I think the CaPTk needs to clarify the importance of resampling value in its calculations. Although this is a general concept, but a user should be able to rely on your documentation and use the software.

Please add an explanation about extrapolation/interpolation methods and it's positive and negative aspects for users.

[2020-03-20 17:06] omaghsoudi opened #956 "Cannot run CaPTk feature extraction with multi values for parameters"
CaPTk feature extraction does not get multivariable for the parameter file.

This is a bug to be fixed as I might want to run a feature family with the different parameters at the same time, but CaPTk does not allow me unless I run it again which is not good.

[2020-03-20 17:42] sarthakpati commented on #934
Done.

[2020-03-20 17:42] #934 closed

[2020-03-20 18:55] ApuSingh opened #957 "Low correlation with similar classes of PyRadiomics features"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**CaPTk Version**
Version information

[2020-03-20 19:04] ApuSingh opened #958 "Survival prediction performance of CapTk features not comparable with PyRadiomics"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**CaPTk Version**
Version information

[2020-03-20 19:04] omaghsoudi opened #959 "CaPTk feature extraction will work on default values if it fails reading parameter file"
CaPTk feature extraction uses the default features if it fails to read the parameter file for any reason.

This is not good, the software should fail to extract features if a user provides parameter file and either the file is corrupted (empty or in a wrong format) or the file path does not exist.

[2020-03-20 19:14] ApuSingh opened #960 "Phenotype analysis shows a lot of collinearity between CapTk features"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**CaPTk Version**
Version information

[2020-03-20 19:19] omaghsoudi commented on #957
This is also true about the CBIG texture pipeline. The features of the same class are not correlated with CaPTk features which would be interesting to dig deeper. I did 53 features and half were correlated and the other half not.

[2020-03-20 19:25] ApuSingh commented on #957
Yes, it is interesting to note that even when same formulae are used for computation, then also the correlation is low.

[2020-03-20 20:40] ashishsingh18 commented on #913
@chiharusako I am unable to reproduce this even with the data you shared.

[2020-03-20 20:46] chiharusako commented on #913
@ashishsingh18  Can you try on the linux version on the cluster? That's the one both Parth and I used.

[2020-03-20 20:49] chiharusako commented on #902
I believe this is an issue with the linux version. It happened both on my ubuntu and Vishnu's.

[2020-03-20 20:50] chiharusako commented on #902
Also adding that the Mac version does NOT have this issue either.

[2020-03-20 21:34] ashishsingh18 commented on #862
@DushyantSahoo Is this still an issue? I haven't been able to replicate this.

[2020-03-21 00:37] ashishsingh18 commented on #913
@chiharusako my cluster account is behaving weird. However I tried on Ubuntu and it works fine. How are you converting the dicom to nifti in the first step?

[2020-03-21 10:44] sarthakpati opened #961 "In non-debug mode, FE exceeds 100%"
**Describe the bug**
See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Use a 4 modality, 3 ROI extraction via CLI
2. See screenshot
3. Doesn't affect results.

**Expected behavior**
Should go till 100%.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/11719673/77224791-66cc5400-6b3f-11ea-9b20-120fb55

[2020-03-21 10:51] sarthakpati commented on #961
Done.

[2020-03-21 10:51] #961 closed

[2020-03-21 11:37] sarthakpati commented on #959
Hmm. I am unable to reproduce this, Omid; even the code doesn't use a default parameter file [[ref](https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/src/FeatureExtraction.cxx#L394)]. Could you please give me an example of this?

[2020-03-21 11:39] sarthakpati commented on #956
Duplicate of #931. I have already implemented the option for users to pass bin and radius in ranged values (i.e., ```Min:Step:Max```). If there are other parameters you think should be added, let me know.

[2020-03-21 11:42] sarthakpati commented on #955
Great point, @omaghsoudi. I wonder where this would provide the maximum impact. I am always torn between having users "be **this** tall to ride" vs "here is something you simply **cannot** mess up".

Paging @gastouna

[2020-03-21 11:43] sarthakpati commented on #954
Great point, @omaghsoudi. Once again, paging @gastouna

[2020-03-21 11:47] sarthakpati commented on #953
This is a philosophical question. I am generally of the opinion that if users want to process 2 images together, they need to be the same physical space (i.e., origin, voxel resolution, image size, direction, should all be the same [[ref](https://github.com/CBICA/CaPTk/blob/master/src/cbica_toolkit/src/cbicaITKUtilities.h#L373)]) because if a software starts automatically "aligning" 2 random image

[2020-03-21 11:49] sarthakpati commented on #952
Unfortunately, performing "patch-based" analysis will not be consistent with the IBSI protocol. If the images are that big and the parameters selected for performing feature extraction are that fine-grained, the user is expected to provide the corresponding computational power.

This is a logistics issue and firmly goes in the category of "minimum height to go on the ride".

[2020-03-21 11:49] sarthakpati commented on #951
Duplicate, closed.

[2020-03-21 11:49] #951 closed

[2020-03-21 11:50] sarthakpati commented on #950
I did mention you, I guess? 😛

Finished already with #754, closing.

[2020-03-21 11:50] #950 closed

[2020-03-21 11:51] sarthakpati commented on #948
Finished, closed.

[2020-03-21 11:51] #948 closed

[2020-03-21 11:51] sarthakpati commented on #947
Finished, closed.

[2020-03-21 11:51] #947 closed

[2020-03-21 11:52] sarthakpati commented on #946
Finished, closed.

[2020-03-21 11:52] #946 closed

[2020-03-21 11:53] sarthakpati commented on #960
General feedback and not an issue. Closing.

[2020-03-21 11:53] #960 closed

[2020-03-21 11:53] sarthakpati commented on #958
CaPTk's features are highly dependent on the preprocessing and parameters getting passed. Discussion taken to email in order to share data.

Not software-related. Closing the ticket.

[2020-03-21 11:53] #958 closed

[2020-03-21 11:55] sarthakpati commented on #957
CaPTk's features are highly dependent on the preprocessing and parameters getting passed. Omid and I have had long discussions about this in person (ah, the pre-COVID19 days) and on email. Happy to continue this discussion offline.

Not software-related. Closing the ticket.

[2020-03-21 11:55] #957 closed

[2020-03-21 11:56] sarthakpati commented on #930
Discussion involves data exchange; let's do this via email.

Not software-related, closing ticket.

[2020-03-21 11:56] #930 closed

[2020-03-21 11:56] sarthakpati commented on #929
Discussion involves data exchange; let's do this via email.

Not software-related, closing ticket.

[2020-03-21 11:56] #929 closed

[2020-03-21 11:59] sarthakpati commented on #924
Discussion involves data exchange; happy to continue conversation virtually (email/Skype/whatever).

Not software-related, closing ticket.

[2020-03-21 11:59] #924 closed

[2020-03-21 15:53] omaghsoudi commented on #949
Sarthak, this has been resolved. We can close this too. Please reopen it if needed.

[2020-03-21 15:53] #949 closed

[2020-03-21 15:56] omaghsoudi commented on #952
I get your reasoning but lattice is patch processing. If the image is so large, CaPTk can consider processing the lattice sections separately. This will significantly reduce the required RAM space. What do you think?

However, I think it would be a mess for coding aspects :D

[2020-03-21 15:56] omaghsoudi commented on #953
I agree and it makes sense.

[2020-03-21 15:56] #953 closed

[2020-03-21 15:59] omaghsoudi commented on #956
This is really good; so can I apply different LBP radii using Min:step:Max?

[2020-03-21 16:25] omaghsoudi commented on #959
This is when the parameter file is empty (exits but with zero size); If the file exists but it is not in the format that CaPTk expects, what does it happen?

This is based on the following issue:
https://github.com/CBICA/CaPTk/issues/798

however, you fixed the above-mentioned bug (798), the CaPTk FE would still work if the parameter file is corrupted with default values instead of putting an erro

[2020-03-21 17:08] omaghsoudi commented on #957
Apurva, as Sarthak said, the resampling can be an important factor for comparison. Even for CBIG texture pipeline comparison with CaPTk, back in the days that I was running the comparisons, I did not keep the resampling and pixel spacing constant.

I will redo the comparison by keeping the resampling as same as pixel spacing to make sure the comparison will be similar between CaPTk and CBIG pipeli

[2020-03-21 19:28] sarthakpati commented on #952
CaPTk is already processing the lattice portions separately 😉. The RAM requirement spikes during the resampling, actually.

[2020-03-21 19:29] sarthakpati commented on #956
Yes, sir! Any parameter that takes a radius or bin can be done that way. You can access the latest master from my home directory on the cluster. Can this be closed, then?

[2020-03-21 19:30] sarthakpati commented on #959
Ah, I am not sure how this is getting tackled, let me check. #798 was something different, I believe.

[2020-03-22 00:36] omaghsoudi commented on #959
Sure Sarthak; tnx for checking it.

[2020-03-22 00:36] #959 closed

[2020-03-22 00:37] omaghsoudi commented on #956
Awesome! tnx 👍

[2020-03-22 00:37] #956 closed

[2020-03-22 00:43] omaghsoudi commented on #952
This is a nice engineering and geometry problem in my opinion. CaPTk can consider a version of patch processing to break down a large image into smaller images. We can talk about this. I really like this problem.

You just need how much pixels/voxels of an image is needed to have one segment of lattice (2D/3D). Then you move that needed pixels/voxels on image to generate the new lattice segment.

[2020-03-22 01:24] sarthakpati commented on #952
So, I remember seeing the memory usage for one of these images. The processing is not where the OS chokes; it is the resampling (and this is consistent in Window and 2 different Linux distros), which leads me to wonder if this is something that ITK folks should know about...

[2020-03-22 23:09] AlexanderGetka-cbica opened #963 "[Bias Correction] execution speed increase for N4, maxIterations+fittingLevel params"
Currently N4 does not use the downsample->correct->reconstruct bias field->divide out methodology that N3 uses, and which is standard in ANTs.

Also, max-iterations and fitting level options don't change anything at the moment (defaults are enforced).
 N4 runs quite well but this is the recommended method.

Addressing this feature request involves:
- working around the issues the N4 filter has wit

[2020-03-22 23:23] AlexanderGetka-cbica opened #964 "[Bias Correction] move defaults to BiasCorrection, add GUI options"
Currently:
- default parameters for bias correction are used from the calling code (i.e CLI+GUI) rather than stored in the class.
- the GUI has few/no options regarding bias correction parameters -- you can't even select N4 or N3. (#900 )

I would propose that:
- a slight refactor/addition be made to the BiasCorrection class that allows retrieval of default values (for display on the preprocessing

[2020-03-23 03:57] ashishsingh18 commented on #866
This seems like a multi threading issue...

[2020-03-23 03:59] ashishsingh18 commented on #864
Needs multi threading..

[2020-03-23 04:00] ashishsingh18 commented on #850
Needs multi threading

[2020-03-23 04:04] ashishsingh18 commented on #772
@CBICA/devteam I faced this also recently when setting up the builds on crete and the VM
The bundled qt.zip doesn't get extracted.

[2020-03-23 11:57] sarthakpati commented on #772
Extraction is happening here: https://github.com/CBICA/CaPTk/blob/master/cmake_modules/External-Qt.cmake#L100

[2020-03-23 11:58] sarthakpati commented on #772
For some weird reason, even though Azure DevOps is using the same mechanism, it doesn't trip up...

[2020-03-23 13:00] sarthakpati commented on #880
Done.

[2020-03-23 14:26] ashishsingh18 commented on #862
Closing this as we are unable to replicate. Please reopen if necessary.

[2020-03-23 14:26] #862 closed

[2020-03-23 14:47] #903 closed

[2020-03-23 17:27] jvbelenky opened #966 "Getting different numbers of features for batchmode vs single-line feature extraction"
**Describe the bug**
When running feature extraction on the same dataset with the same parameter file (over cluster), batchmode produces features up to Excel column RF, but single-line computation produces features all the way up to AAX (for a GLRM/GLCM/etc radius of 1) or up to ABN (for a GRLM/GLCM/etc radius of 2 or 4)

**To Reproduce**
This command for batchmode:
[code]

This one for single-lin

[2020-03-23 18:43] ashishsingh18 commented on #840
@parthsharma853 can you share some data to try this?

[2020-03-23 18:52] parthsharma853 commented on #840
Hello @ashishsingh18 ,

You can find data at :

/cbica/home/sharmapa/comp_space/Testathon/nifti/ACSL

[2020-03-23 18:52] sarthakpati commented on #966
That is because in the current master, the per-slice computation has become optional, so all the ```_X```, ```_Y``` and ```_Z``` features do not get extracted.

[2020-03-23 18:52] #966 closed

[2020-03-23 19:27] sarthakpati opened #967 "Specificity to be updated with definition from wiki"
**Describe the bug**
Definition is being taken from some other stats description and needs to be updated to the one in https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Specificity

[2020-03-23 19:27] sarthakpati commented on #967
Done.

[2020-03-23 19:27] #967 closed

[2020-03-23 19:40] sarthakpati opened #969 "Accuracy and precision formula update"
**Describe the bug**
Definition is being taken from some other stats description and needs to be updated to the one in https://en.wikipedia.org/wiki/Accuracy_and_precision

[2020-03-23 19:42] sarthakpati commented on #969
Done.

[2020-03-23 19:42] #969 closed

[2020-03-23 21:02] sarthakpati opened #970 "Development builds CentOS7 link needs to be updated"
**Describe the bug**
Currently, the download link for DEVELOPMENT_BUILDS in the main Readme is pointing to an old version and needs to be updated.

[2020-03-23 21:03] sarthakpati commented on #970
Done.

[2020-03-23 21:03] #970 closed

[2020-03-24 17:20] chiharusako commented on #913
we're using dcm2niix v1.0.20190410

[2020-03-24 20:11] ashishsingh18 commented on #913
@chiharusako I tried this on the cluster and it works fine. I didn't use dcm2niix. I did the dicom to nifti conversion on my windows machine using captk and transferred that nifti to the cluster and then did the n2d. It worked fine.

[2020-03-24 20:49] AlexanderGetka-cbica opened #974 "[Diffusion Derivatives] crash: number of baseline images is null"
**Describe the bug**
Running Diffusion Derivatives causes a ton of "multiple bvalues not allowed" error messages, then crashes with an itk exception:

[code]

**To Reproduce**
Run Diffusion Derivatives with -i, -o, -b, -g all passed as required.
See the error message (see desc. above).

**Expected behavior**
Expected diffusion derivatives to produce some output in the specified directory.

**CaPTk

[2020-03-24 21:36] chiharusako commented on #913
This is good information.

Now I see that the difference of the nifti output of dcm2niix and the dicom to nifti conversion in captk is the orienatation. For this particualr image, Captk outputs in LPS and dcm2niix in LAS.  This is just a reorientation and the image is identical, which you can see by loading to itksnap.

So now I think the troubleshooting is why it flips the image when a LAS nifti

[2020-03-25 13:44] sarthakpati opened #975 "[Toolkit] Add 95th percentile Hausdorff implementation"
**Is your feature request related to a problem? Please describe.**
Currently, the Hausdorff distance calculation [[ref](https://github.com/CBICA/CaPTk/blob/master/src/applications/Utilities/src/Utilities.cxx#L698)] uses the default ITK metric, which is ```max```, but this is not very stable.

**Describe the solution you'd like**
Using the 95th Percentile (or passing this as an argument), would pro

[2020-03-25 13:53] ashishsingh18 commented on #913
@chiharusako I do not know what dcm2niix is doing. If we use captk, it works as expected. I guess we can close this then?

[2020-03-25 14:31] dboun opened #976 "Extension Manager doesn't work on linux"
**Describe the bug**
Extension Manager doesn't work on linux

@PhucNgo1711

**To Reproduce**
Steps to reproduce the behavior:
1. Click libra batch mode
2. Click on download etc
3. Wait for it to finish downloading
4. Wait to see that it finishes "inflating" \* in the terminal
5. Click on libra batch mode again
6. It shows the popup from the screenshot that ends in "Do you want to install it?"
7. C

[2020-03-25 14:38] #908 closed

[2020-03-25 15:01] sarthakpati commented on #975
Done.

[2020-03-25 15:01] #975 closed

[2020-03-25 15:11] sarthakpati commented on #913
@chiharusako and I debugged this in detail and what we concluded was the following: this issue is stemming from the fact that the image coming from dcm2niix is in a different orientation (RPI vs the original DICOM being in RAI):

[code]

So, in this aspect, CaPTk is doing what we would expect, i.e., write the image information from the NIfTI file and use the header information from the reference D

[2020-03-27 12:19] sarthakpati commented on #913
@chiharusako can this be closed, now?

[2020-03-27 12:54] chiharusako commented on #913
@sarthakpati Can we make sure it doesn't say "Finished writing" when you get the error? If that's done feel free to close. Thanks so much for your help!

Current output:

Also FYI: after some reading on dcm2niix, I now understand it's by design that it does lossless rotation which is good to know. It says you can turn off the rotation but I haven't tested. Either way, voxel data is preserved so it

[2020-03-27 14:57] sarthakpati commented on #913
Already done and in my home directory [[ref](https://github.com/CBICA/CaPTk/pull/977/commits/0aabfb542bcb3024ba4bf049d5746ceb5303ce8b)].

[2020-03-28 18:14] sarthakpati commented on #913
@chiharusako: I am closing this ticket, please re-open if required.

[2020-03-28 18:14] #913 closed

[2020-03-30 19:05] ashishsingh18 commented on #821
This happens when the dialog gets resized vertically.

[2020-03-30 19:58] #909 closed

[2020-03-30 23:10] #821 closed

[2020-03-31 01:22] saimarathore commented on #901
i have done the first part, mentioned by Vishnu, where he suggested to calculate SVM scores on the training data as well. Made that part of the PR#981. k-fold cross-validation and split-train-test both the options work from CLI. Will check from GUI once OpenGL issue is resolved. Keeping the issue open as of now.

[2020-03-31 01:26] saimarathore commented on #897
fixed the issue.

[2020-03-31 01:26] #897 closed

[2020-03-31 01:45] saimarathore commented on #870
i could not reproduce the issue on my machine from CLI. Will try on different machines and open again if able to replicate it. @viraj28m can you please open a separate issue explaining the nitrc connection? Seems like a different problem.

[2020-03-31 01:45] #870 closed

[2020-03-31 18:19] vctorwei opened #982 "Feature Extraction produced same LBP feature values for different ROI"
**Describe the bug**
Feature Extraction produced same LBP feature values for different ROI

For example:
T1C_CE_LBP_LBP and T1C_NE_LBP_LBP are exactly the same.
CE(white): contrasting enhancing ROI, NE(grey): non-enhancing ROI including edema.
![Screenshot from 2020-03-31 19-14-22](https://user-images.githubusercontent.com/49865495/78060780-0aa9d100-7384-11ea-9c2b-9b2400c1e197.png)

**To Reproduce

[2020-04-01 15:26] sarthakpati opened #983 "[Utilities] Add a warning message for NIfTI to DICOM conversion"
**Is your feature request related to a problem? Please describe.**
DICOM images are tricky and users need to know what they need to do.

**Describe the solution you'd like**
Since NIfTI to DICOM is already present, add a warning message.

[2020-04-01 15:26] sarthakpati commented on #983
Done.

[2020-04-01 15:26] #983 closed

[2020-04-03 13:54] ashishsingh18 commented on #902
I was able to reproduce this with 1.7.6 on Ubuntu. However it seems to be working on the latest master. Closing this, please reopen if the issue still exists.

[2020-04-03 13:54] #902 closed

[2020-04-06 16:14] ashishsingh18 opened #985 "Training module tests failing"
**Describe the bug**
Training module tests are failing as seen in Azure.

**Expected behavior**
Tests should pass

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/43445206/78580083-e7f23f00-77ff-11ea-95ce-79955e1216bc.png)

**CaPTk Version**: latest master

[2020-04-06 16:18] ashishsingh18 opened #986 "Azure not catching failing tests"
**Describe the bug**
Training module tests are failing on Azure. However Azure checks are being reported as successful.

**Expected behavior**
Azure should report failure.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/43445206/78580415-5d5e0f80-7800-11ea-8eac-939756923e6d.png)

![image](https://user-images.githubuse

[2020-04-08 18:07] sarthakpati opened #987 "Intermediate files in FE are not saved with '-dw 1'"
**Describe the bug**
When running FE, the intermediate files are not saved when passing ```-dw 1``` flag.

**CaPTk Version**
1.7.6

[2020-04-08 18:13] sarthakpati opened #988 "[Utilities] Extend Label Statistics with more metrics"
**Is your feature request related to a problem? Please describe.**
Currently, the ```-ls``` option does not give Hausdorff/Sensitivity/Specificity, which are an essential metrics for comaprison.

**Describe the solution you'd like**
Add them.

[2020-04-08 18:14] sarthakpati commented on #988
The commit https://github.com/sarthakpati/CaPTk/commit/cb79e41011d95bbae3b82e8693756ea2fcfd867c#diff-7354709cfb0a338e6e4b9f9882196ed6R1265 takes care of this (subsequent commits take care of compilation fixes).

[2020-04-08 18:14] #988 closed

[2020-04-09 14:19] sarthakpati opened #991 "[Utilities] BraTS label statistics"
**Is your feature request related to a problem? Please describe.**
The current ```-ls``` mechanism needs more customization for BraTS results; this can be integrated in the Utilities directly.

[2020-04-09 14:20] sarthakpati opened #992 "[Utilities] When the input file name is not found, a meaningful error should be given"
**Describe the bug**
The error pertains to obscure ITK headers, which is not helpful.

[2020-04-09 19:11] ashishsingh18 opened #993 "Missing html files for PR 981"
Add missing html doc files for PR 981.

[2020-04-10 04:37] #919 closed

[2020-04-10 13:54] #993 closed

[2020-04-10 15:52] ashishsingh18 opened #995 "html files missing for docs"
Add missing html files for documentation.

[2020-04-10 18:57] #987 closed

[2020-04-10 20:33] #992 closed

[2020-04-10 20:34] #991 closed

[2020-04-13 12:33] sarthakpati commented on #982
This is happening because the image is not getting masked.

[2020-04-13 12:35] sarthakpati commented on #982
@saimarathore Could you take a look at the fix I have written? I want to ensure that it makes algorithmic sense before initiating a PR.

[2020-04-13 12:37] sarthakpati opened #997 "[FeatureExtraction] LBP feature style does not change"
**Describe the bug**
In the parameter file, there is an option to change the LBP style [[ref](https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/data/1_params_default.csv#L30)] but the code doesn't use this [[ref](https://github.com/CBICA/CaPTk/blob/master/src/applications/FeatureExtraction/src/depends/LBPMeasures.h#L136)].

**Expected behavior**
A different implementati

[2020-04-14 18:21] #995 closed

[2020-04-15 20:34] jvbelenky opened #998 "Feature extraction: all NGLDM features throwing NaNs in all or nearly all cases"
**Describe the bug**
For a dataset of 178 cases and 3 different possible parameter files, all cases (for regular post-contrast images) or nearly all cases (for signal enhancement ratio maps) are producing NaNs for all NGLDM features. Other features seem to behave as expected.

**To Reproduce**
Steps to reproduce the behavior:
Run these commands located inside directory cbica/home/belenkyv/UW_Radio

[2020-04-16 20:13] sarthakpati opened #999 "Add option to apply mask in the drawing tab (this is available on Utilities)"
**Is your feature request related to a problem? Please describe.**
Currently, after getting the skull-stripped mask, there is no way to apply this mask to the image and proceed with tumor segmentation.

**Describe the solution you'd like**
An option to apply the mask to the input image(s) in an easy way (currently, this is present in the Utilities via the CLI).

[2020-04-16 20:14] sarthakpati commented on #999
Paging @ashishsingh18 on where this would be the most appropriate.

[2020-04-17 22:12] ashishsingh18 commented on #999
@sarthakpati I don't understand this fully yet. Where is the segmentation tab?

[2020-04-18 12:50] sarthakpati commented on #999
Ah, I actually meant the "Drawing" tab.

[2020-04-19 17:29] sarthakpati commented on #999
Basically something like this:

![Untitled](https://user-images.githubusercontent.com/11719673/79694930-ad49c700-8241-11ea-9a81-95644b1b361f.png)

When the user would click the button, the loaded ROI (all non-zero are treated the same way) would get applied to all loaded images.

[2020-04-19 17:35] sarthakpati opened #1001 "Drawing tab extra space should be removed"
**Describe the bug**
See screenshot.

**Screenshot of problematic UI**
![Untitled](https://user-images.githubusercontent.com/11719673/79695021-4678dd80-8242-11ea-95b1-07b548a87812.png)

**Expected UI**
![image](https://user-images.githubusercontent.com/11719673/79695065-82ac3e00-8242-11ea-90f6-0788240e8b09.png)

**CaPTk Version**
1.7.6 and current master

[2020-04-20 22:43] ashishsingh18 commented on #999
Are you referring to the display of mask that happens for instance via readMaskFile() function?

Can you point to where this is available in Utilities?

[2020-04-21 11:48] sarthakpati commented on #999
I am talking about tying that button with ```itk::MaskImageFilter``` [[ref](https://itk.org/Doxygen/html/classitk_1_1MaskImageFilter.html)]. We apply the currently displayed/loaded mask (treating it as a binary image) and apply it to all loaded images.

In Utilities, it is happening [here](https://github.com/CBICA/CaPTk/blob/master/src/applications/Utilities/src/Utilities.cxx#L741).

[2020-04-22 03:11] saimarathore commented on #871
fixed. will be closed after testing by an independent tester.

[2020-04-22 03:12] saimarathore commented on #872
fixed. will be closed after testing by an independent tester.

[2020-04-22 16:08] sarthakpati commented on #998
Thanks for the report! This feature has not been fully implemented and should not be used in the parameter file.

[2020-04-22 16:08] #998 closed

[2020-04-22 17:37] sarthakpati commented on #952
Hey @omaghsoudi, I am closing this ticket; please re-open as needed. 😄

[2020-04-22 17:37] #952 closed

[2020-04-22 17:40] sarthakpati commented on #866
Addressed by adding a long-running application pop-up. Closing.

[2020-04-22 17:40] #866 closed

[2020-04-22 17:40] sarthakpati commented on #864
Addressed by adding a long-running application pop-up. Closing.

[2020-04-22 17:40] #864 closed

[2020-04-23 09:26] mdv63oda opened #1004 "loaded ROIs are in the wrong position"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**CaPTk Version**
Version information

[2020-04-23 12:20] mdv63oda opened #1005 "Geodesic training segmentation for brain tumor fails in v. 1.7.6 of CaPTK"
**Describe the bug**
Hi, I installed CaPTK v 1.7.6 recently because I had problems with loading several image sets in v 1.6.
I could do segmentation for three regions in the previous version I had, but now nothing happens when I run the training segmentation. It does not happen to finish and even prevents me close the application.
(I have minimal information for codes and I use the application for

[2020-04-23 16:30] sarthakpati opened #1006 "FeatureExtraction crashes for non-existent mask/image"
**Describe the bug**
FE is crashing if the mask/image file(s) do not exist.

**Expected behavior**
A well-informed crash message.

**CaPTk Version**
Master

**Additional context**
Tagging @omaghsoudi

[2020-04-24 00:34] ashishsingh18 commented on #324
This has been already fixed. Closing.

[2020-04-24 00:34] #324 closed

[2020-04-24 00:42] ashishsingh18 commented on #850
This was addressed by adding a popup message by @sarthakpati. Closing.

[2020-04-24 00:42] #850 closed

[2020-04-27 04:30] saimarathore opened #1008 "Headers should be added in all feature files"
In all the feature files, including raw feature files, scaled feature files, and selected feature files, appropriate feature and patient names should be added.
Needs to happen in SurvivalPredictor, Pseudoprogression, EGFRvIII, Recurrence

[2020-04-27 21:58] sarthakpati commented on #1006
Fixed.

[2020-04-27 21:58] #1006 closed

[2020-04-28 01:03] chiharusako opened #1009 "Perfusion derivatives changes direction"
**Describe the bug**
Perfusion derivatives doesn't maintain the direction of the image

**To Reproduce**
I put an example input and results in:
/cbica/home/sakoc/comp_space/lab/captk/1.7.6/perfd

$/cbica/software/lab/captk/centos7/1.7.6/bin/captk PerfusionDerivatives -i ABGX_2016.09.27_perf_LPS.nii.gz -e 45 -p 1 -pH 1 -r 1 -o $PWD

Please note the change in the direction:

$ /cbica/home/patis/test

[2020-04-28 03:23] sarthakpati commented on #1009
As long as all references to ```GetOneVolumeImage``` in the ```PerfusionDerivatives``` class are replaced with ```cbica::GetExtractedImages```, this issue will be fixed. The problem is in [this](https://github.com/CBICA/CaPTk/blob/master/src/applications/PerfusionDerivatives.h#L167) line.

**We have tested utilities that should be used instead of per-class implementations.**

There is, however, a

[2020-04-28 12:13] sarthakpati commented on #1009
Hey @chiharusako, I have added an intermittent fix for this issue and it should be available on my home directory on the hash ```ad26e01```.

[2020-04-28 13:24] sarthakpati commented on #1009
@chiharusako has confirmed that https://github.com/sarthakpati/CaPTk/commit/ad26e014947707dbb8b85db66e04d8decd59e534 fixes this issue.

However, I am keeping this issue open since my previous comment still stands.

[2020-04-28 14:32] dboun commented on #1005
Hi @mdv63oda

I tried "Geodesic Training Segmentation" in 1.7.6 on Windows and it works. It is also pretty much the same implementation as in v1.6.

What I think happens here is that _it does not fail_, but that it is _slow_ for you. The execution tends to be slower if your images has >10M voxels and if they don't have isotropic spacing. Regardless on a decent machine it shouldn't take more than 4

[2020-04-28 18:28] ashishsingh18 commented on #999
@sarthakpati How does [this ](https://github.com/ashishsingh18/CaPTk/blob/dea6d23ceb829250eb87517c5d82945d2da7b149/src/view/gui/fMainWindow.cpp#L3132)look? We are applying the mask on all images, saving them in temp directory and reloading them into captk.

[2020-04-28 19:15] sarthakpati commented on #999
This works just fine! Thanks.

[2020-04-28 20:50] ashishsingh18 commented on #999
Great. I created a PR for this. #1011

[2020-04-28 21:57] ashishsingh18 commented on #1009
@sarthakpati Can we open another issue for the time point issue and close this one if the perfusion derivatives direction issue is fixed?
Tagging @saimarathore @chiharusako

[2020-04-28 23:03] sarthakpati opened #1012 "API in PerfusionDerivatives class should change to use cbica Utilities function"
As long as all references to ```GetOneVolumeImage``` in the ```PerfusionDerivatives``` class are replaced with ```cbica::GetExtractedImages```, this issue will be fixed. The problem is in [this](https://github.com/CBICA/CaPTk/blob/master/src/applications/PerfusionDerivatives.h#L167) line.

**We have tested utilities that should be used instead of per-class implementations.**

There is, however, a

[2020-04-28 23:03] sarthakpati commented on #1012
Tagging @saimarathore @ashishsingh18 @chiharusako

[2020-04-28 23:03] sarthakpati commented on #1009
Done.

[2020-04-28 23:03] #1009 closed

[2020-04-29 16:25] PhucNgo1711 commented on #883
Please let me know that it would be easier to create like a Google Docs for this, but since this topic was discussed earlier, I'd figure I'll continue the discussion here.

This is the foundation that I have implemented

`Click on Libra from dropdown menu`
[code]

From today's discussion, I've added a few things

`Click on Libra from dropdown menu`
[code]

[2020-04-29 17:04] sarthakpati commented on #883
Good idea to continue the discussion here.

My idea was something along the following direction:

[code]

[2020-04-29 17:43] dboun commented on #883
I think that

@PhucNgo1711 's algorithm can lead to "hard locks", if the computer powers off suddenly during the locks, as it doesn't feature a way to forcefully unlock.

@sarthakpati 's algorithm can raise issues if two processes download the same thing (the first process' downloading will be overwritten), as it doesn't feature locks.

I'm struggling to think of an seamless solution to both that

[2020-04-29 18:30] MarkBergman-cbica commented on #883
[locking.txt](https://github.com/CBICA/CaPTk/files/4553677/locking.txt)

[2020-04-29 18:30] MarkBergman-cbica commented on #883
<code>
<pre>

                        user runs application from GUI or CLI
                                 |
                                 |
                         <test: does application-specific lock file exist>--[Y]--> create log entry (ie., application FooBar launched while lock file exists)
                                 |

[2020-04-29 18:41] sarthakpati commented on #883
@dboun's comment

Has been addressed. I actually thought that it would part of the downloading function. Anyway, I have made it explicit.

[2020-04-29 19:04] MarkBergman-cbica commented on #883
This means that both LIBRA (MCR, executables, etc) and a text file are now required to execute the app. The requirement can be simplified to just a test of the existence of the LIBRA dir (ie., ${USER_HOME}/.CaPTk/${version}/apps/libra) **if** we can ensure that the presence/absence of that directory alone is a valid test (see my comment about renaming files -- the POSIX rename() system call is an

[2020-04-29 19:18] MarkBergman-cbica commented on #883
Should really be:

<code>
<pre>

                        user runs application from GUI or CLI
                                 |
                         <test: does application dir exist>--[Y]--> run application
                                 |
                                [N]
                                 |
                         <test: does application-specific lock file exist>--[Y]-

[2020-04-29 19:47] ashishsingh18 commented on #883
@MarkBergman-cbica I haven't been able to fully understand the txt file that you shared.

I like @sarthakpati's idea. Although I don't like reading/writing multiple files. All this can be easily done with QSettings which provides a standard way of handling application settings/preferences/configuration. etc. I have already implemented a singleton and QSettings reader/writer for preferences that ca

[2020-04-29 19:48] ashishsingh18 commented on #883
@dboun can you expand on this scenario? I haven't fully understood this. What is the use case?

[2020-04-29 20:35] sarthakpati commented on #883
I like the idea of using QSettings as mentioned by @ashishsingh18.

[2020-04-30 02:16] #999 closed

[2020-04-30 16:00] dboun commented on #883
My comment was about handling multiple processes trying to download the same extension, as it was mentioned in the meeting. For instance, someone trying to download libra both through the CLI and the GUI.

In practice though, I think this is pretty shooting-yourself-in-the-foot behavior and I'm not sure if we need to be concerned about it too much.

Also, locks might introduce scenarios that lead

[2020-04-30 16:12] MarkBergman-cbica commented on #883
In the message dated: Thu, 30 Apr 2020 09:00:25 -0700,
The pithy ruminations from Dimitris Bounias on
[[External] Re: [CBICA/CaPTk] Decouple the pre-compiled binaries from CaPTk installation and packaging (#883)] were:
=> > > @sarthakpati 's algorithm can raise issues if two processes download the same thing (the first process' downloading will be overwritten and subsequently crash or worse during

[2020-04-30 16:29] ashishsingh18 commented on #1004
@mdv63oda I just tried this and am not able to replicate this. Here are the screenshots before and after reloading.
Before:
![image](https://user-images.githubusercontent.com/43445206/80734983-06391b00-8ade-11ea-99f9-f1555ccea6f3.png)

After saving and reloading
![image](https://user-images.githubusercontent.com/43445206/80735028-14873700-8ade-11ea-8c4a-eb27978b6d89.png)

Can you reproduce this is

[2020-04-30 17:05] mdv63oda commented on #1004
Hi, I resolved the problem. I do not know what the problem was, but is seems that the RIO mirror in 2 axis. The solution is load>save> and load it again! it goes to the original position. LOL

[2020-04-30 18:38] ashishsingh18 commented on #1004
It has been working fine for me without the load->save and load again. If you can tell us the exact steps to replicate, we can look at it.

[2020-05-01 10:45] mdv63oda commented on #1004
I tried the last non release edition of CaPTK and the problem still exist. The figure below shows what happens. The first is before saving and the second is after loading. I can not explain more because I really do not know what goes on.
Regards
![image](https://user-images.githubusercontent.com/64196091/80800359-227c9c80-8b5e-11ea-9528-3875f436207c.png)

[2020-05-01 10:50] mdv63oda commented on #1005
Hi, Thats correct. I understood that most details is worst for training. So the segmentation should begin for the least obvious cuts. Thanks

[2020-05-01 14:50] ashishsingh18 commented on #836
Once the dock is closed, there is no way for the user to get to the dock for example to see the loaded images or access drawing etc.

[2020-05-01 15:14] ashishsingh18 commented on #1004
Can you share some anonymized data with us to reproduce this?
Also, can you let us know how you are generating the ROI mask - are you using the drawing panel for this?

[2020-05-02 01:09] PhucNgo1711 commented on #883
@ashishsingh18 @sarthakpati sure I'll take a look at QSetting and put this stuff in a separate class.

[2020-05-04 19:01] #1005 closed

[2020-05-05 02:39] saimarathore commented on #904
Segmentation file needs to loaded as a mask, not as an image.
Could not test from the front-end due to OpenGL issues, however, works from the command-line. Keeping it open until final testing. @ashishsingh18 @vishnubashyam

[2020-05-05 19:38] #836 closed

[2020-05-05 22:21] ashishsingh18 commented on #904
Tested this from GUI, it works fine. Segmentation needs to be added via File->Load->ROI
Tagging @vishnubashyam @saimarathore

[2020-05-05 22:22] ashishsingh18 commented on #904
Closing this.

[2020-05-05 22:22] #904 closed

[2020-05-07 14:14] ashishsingh18 commented on #1008
headers added in EGFRvIII and SurvivalPredictor, courtesy @saimarathore

[2020-05-08 14:08] AlexanderGetka-cbica commented on #914
I've tried a number of times to get this to fail on Windows and I can't reproduce it. Based on this and the things I can find on google about this type of error, seems this is specific to glibc. Not sure what we can really do about that.

[2020-05-08 18:48] AlexanderGetka-cbica commented on #914
Given the above, I'm going to close this and lower the severity. If this pops up again or can be reproduced on other Linux systems we can reopen.

[2020-05-08 18:48] #914 closed

[2020-05-12 14:18] AlexanderGetka-cbica commented on #964
fixed by #1021

[2020-05-12 14:18] #964 closed

[2020-05-12 14:54] ashishsingh18 commented on #856
@dboun I am unable to reproduce this on Windows though.

[2020-05-12 14:59] ashishsingh18 commented on #900
@AlexanderGetka-cbica Is this resolved?

[2020-05-12 15:01] ashishsingh18 commented on #840
Fixed.

[2020-05-12 15:01] #840 closed

[2020-05-12 15:03] AlexanderGetka-cbica commented on #900
Yep, forgot to close this one too.

[2020-05-12 15:03] #900 closed

[2020-05-12 15:45] dboun commented on #856
It's 3 m.o., I think alex has worked on this, so it might be fixed.

Also it might be cinnamon-specific so I don't think you need to worry about it now.

[2020-05-12 21:34] saimarathore commented on #1008
headers should also be added in the following modules:
recurrence
training module
molecular subtypes

[2020-05-13 13:56] chiharusako opened #1025 "Training Module requires label file and training parameters for testing mode"
**Describe the bug**
Training module requires a label file and training parameters (-c, -s, -k,-p,-r)  for testing mode

**To Reproduce**
$ Training Module -f features.csv -m $modeldir -n 4 -o $outputdir

The required parameter 'l' is missing from the command line arguments you provided. See 'TrainingModule --help' for extended help.

$ Training Module -f features.csv -l labels.csv -m $modeldir -n

[2020-05-13 19:43] sarthakpati opened #1026 "Direction difference tolerance"
**Describe the bug**
A _small_ difference in direction difference trips up the sanity check. A small tolerance check (similar to spacing) should be added. In the case highlighted below, ```cbica::ImageSanityCheck``` will (correctly) return as false. A small margin of error would be acceptable [[ref](https://github.com/InsightSoftwareConsortium/ITK/issues/1237)].

Image 1:
[code]

Image 2:
[code]

[2020-05-13 19:44] sarthakpati commented on #1026
This is done.

[2020-05-13 19:44] #1026 closed

[2020-05-14 14:13] sarthakpati opened #1028 "Default font mismatch"
**Describe the bug**
There are 2 different fonts in the application (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Open GUI

**Expected behavior**
The font in green and red boxes should be the same; preferably it should be the one from the green box.

**Screenshots**
![image](https://user-images.githubusercontent.com/11719673/81944890-5a0e2e80-95cb-11ea-9464-5aeb8e0a6766.p

[2020-05-14 14:19] sarthakpati commented on #855
Duplicate of #768

[2020-05-14 19:26] chiharusako opened #1030 "Nifti to dicom conversion doesn't work for 4D images"
**Describe the bug**
Nifti to dicom conversion does not work for 4D images

**To Reproduce**
fies are in: /cbica/home/sakoc/comp_space/lab/captk/177/d2n_4d

$ /cbica/software/lab/captk/centos7/1.7.6/bin/Utilities -i AAAA_2007.01.21_perf_LPS_defaced.nii.gz -o defaced_dicom -n2d ref_dicom/

Error occurred while trying to write the image 'defaced_dicom': /cbica/home/patis/libs/captkDepends_dcmtk/ITK-

[2020-05-14 20:05] ashishsingh18 commented on #1028
Was this in release or debug mode?

[2020-05-14 20:19] sarthakpati commented on #1028
Both.

[2020-05-14 22:17] ashishsingh18 commented on #1028
@AlexanderGetka-cbica Do you remember why we added the font change for "QWidget" from the preferences? Was it to handle a specific platform? This issue could be because of that.

[2020-05-14 22:22] PhucNgo1711 commented on #855
[code]
Hmm looks like greedy was not packaged into CaPTk. Looking into the cause of this.

[2020-05-15 00:31] sarthakpati commented on #855
This should be coming in from Preprocessing.

[2020-05-15 02:44] sarthakpati commented on #855
Hey @PhucNgo1711, I think I figured this out. If we look at where greedy is [getting installed](https://github.com/CBICA/greedy/blob/ee848107a52af5f145e1b2ea3cd3f74f92056352/CMakeLists.txt#L205), it shows that it is going into ```bin```. It should be in the same location as the ```Preprocessing``` executable. Can you check where it is in the package?

[2020-05-15 02:46] PhucNgo1711 commented on #855
This is not `GreedyRegistration` right?

[2020-05-15 04:32] AlexanderGetka-cbica commented on #1028
@ashishsingh18 as we discussed on the phone, I remember having a similar issue to this. The "QWidgets" part of the function makes it only apply to QWidgets throughout the GUI, not action menus, etc as shown in Sarthak's screenshot. You are right, removing that part of the function call makes everything uniform*.

I realized after our call that I may actually have done that **deliberately**, so tha

[2020-05-15 11:18] sarthakpati commented on #855
That is correct. We are only using ```greedy```.

[2020-05-15 12:07] sarthakpati commented on #855
If it makes debugging this easier, I am pretty sure this can be replicated from the ```Preprocessing``` CLI as well. But the first point is to figure out where ```greedy``` gets installed. I think the quickest way to solve this would be not use the CMake configuration from the [```greedy``` subproject](https://github.com/CBICA/greedy/) and to initialize the CLI in the [```Preprocessing``` project]

[2020-05-15 13:06] sarthakpati commented on #855
Hey @PhucNgo1711, can you check my fork now? I think I may have fixed this.

[2020-05-15 13:29] sarthakpati opened #1031 "Self-hosted macOS build issues"
**Describe the bug**

All details are for this run: https://dev.azure.com/CBICA/CaPTk/_build/results?buildId=1463&view=logs&jobId=79636c1a-aae7-5b3a-7853-8a6d3a41631c&j=79636c1a-aae7-5b3a-7853-8a6d3a41631c&t=97e6077b-5065-54f1-420d-a225053560e5

[2020-05-15 14:21] PhucNgo1711 commented on #1031
I've found the cause. I'm working on a fix for this. The self-hosted build created a new folder structure outside of the root CaPTk source and CMake was picking up the old structure.

[2020-05-15 14:21] PhucNgo1711 commented on #855
I'm testing the fix now.

[2020-05-15 16:11] PhucNgo1711 commented on #855
I still don't have the greedy executable in bin (the same level as Preprocessing)
Based on the logs it looks like greedy is built. I'm trying to figure out why it's not in bin.

[2020-05-15 17:45] sarthakpati commented on #855
[This line](https://github.com/sarthakpati/CaPTk/blob/master/src/applications/Preprocessing/CMakeLists.txt#L81) should be taking care of this and putting it in ```bin```.

[2020-05-15 22:23] ashishsingh18 commented on #1028
_This seems to be fixed now. @sarthakpati @AlexanderGetka-cbica Can you test it on your side from here(https://github.com/ashishsingh18/CaPTk/tree/Issue_1028)? How do we test this on other platforms?_

_Empty string was not set as qapp font. However empty string was stored and this was a bug which has also been fixed here._

_Font will differ from machine to machine. Qt picks up the default system

[2020-05-15 23:22] sarthakpati commented on #1028
I think as long as we let Qt pick up the default OS font/settings, this is fine.

[2020-05-17 03:11] PhucNgo1711 commented on #834
The Linux installer now installs CaPTk at the same directory of the `./{captk_installer}.bin` if `--target` is not specified, else will install at the directory of `--target {dir}`

[2020-05-17 03:11] #834 closed

[2020-05-17 03:11] PhucNgo1711 commented on #692
The Linux installer now installs CaPTk at the same directory of the `./{captk_installer}.bin` if `--target` is not specified, else will install at the directory of `--target {dir}`

[2020-05-17 03:11] #692 closed

[2020-05-17 03:12] PhucNgo1711 commented on #1031
This is now fixed.

[2020-05-17 03:12] #1031 closed

[2020-05-17 22:12] sarthakpati commented on #855
Any update?

[2020-05-17 22:38] PhucNgo1711 commented on #855
I'm having `redefinition` errors if I make the changes you have in the Preprocessing CMakeList file. Your build worked so I was going to grab the installer from your build, but the mac installer created from your build corrupted, and this is not an Azure self-hosted issue. I'm debugging this.

[2020-05-18 12:03] sarthakpati commented on #855
Okay, let me know if I can help with something.

[2020-05-18 23:57] PhucNgo1711 commented on #855
This is now fixed on mac @sarthakpati. `greedy` is available in `bin`.

[2020-05-19 01:06] sarthakpati commented on #855
Awesome!

[2020-05-19 11:18] #1028 closed

[2020-05-19 12:06] sarthakpati commented on #855
To be clear, it was https://github.com/sarthakpati/CaPTk/commit/d04a5920f48df87ccdfed05c2369e9aa7e1dc977 that fixed it. It is already in the master. I am closing this out and will re-open if someone reports it again.

[2020-05-19 17:02] sarthakpati commented on #768
This should be fixed. Please reopen if issues persist after current nightly.

[2020-05-19 17:02] #768 closed

[2020-05-19 17:14] #855 closed

[2020-05-20 01:08] sarthakpati commented on #830
Done.

[2020-05-20 01:08] #830 closed

[2020-05-22 12:01] sarthakpati opened #1040 "Rigid registration on GUI should have option for DoF"
**Describe the bug**
Title.

[2020-05-22 12:05] sarthakpati commented on #1040
Done.

[2020-05-22 12:05] #1040 closed

[2020-05-25 12:40] mdv63oda opened #1044 "Breast mammograph file loads but I can not do any function on it"
I load the DICOM file.  LIBRA single image does not work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1- preprocessing or LIBRA single image
2-CaPTK exits with this message
![image](https://user-images.githubusercontent.com/64196091/82813330-af5b0300-9e49-11ea-978e-ef8a30f57823.png)

what should I do?

**CaPTk Version= latest**
Version information is found on Help > About

**Deskt

[2020-05-27 21:07] sarthakpati commented on #1044
Could you please mention the version?

[2020-05-27 21:31] sarthakpati commented on #1044
Unable to replicate on 1.8.0.Alpha (I tried with all sample data):

![image](https://user-images.githubusercontent.com/11719673/83074233-d5e28f00-a03f-11ea-95fe-f2b1b00e5889.png)

[2020-05-28 07:11] mdv63oda commented on #1044
1. 7. 6

[2020-05-28 11:50] sarthakpati commented on #1044
Thank you. If you don't mind, could you also try in the latest test version?

https://github.com/CBICA/CaPTk#test-build-180alpha

If you are using your own data, it might be a function of something DICOM-related that we might need to dig in further.

[2020-05-28 19:14] sarthakpati opened #1045 "BraTS pipeline as a standalone application"
**Is your feature request related to a problem? Please describe.**
Having a stronger tie with the BraTS challenge will be great for participants and for CaPTk.

**Describe the solution you'd like**
A single CLI (maybe GUI as well) that takes 4 structural brain images and runs through the entire BraTS pipeline.

[2020-05-28 19:34] sarthakpati commented on #1045
Tagging @chiharusako

[2020-05-28 19:44] MarkBergman-cbica opened #1046 "Unnecessary messages re. preferences file (Linux, v 1.8.0A)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Run captk.

See the STDERR, such as:

[code]
if the preferences are unset, or the theme mode & font name if set.

[2020-05-28 20:02] chiharusako commented on #1045
Below is the flow of the pipeline

  1.  Dicom to Nifti
  2.  LPS reorientation
  3.  N4 bias correction (intermediate step)
     *   No mask
     *   shrinkFactor=4
  4.  Registration (Greedy)
     *   N4-biascorrected t1/t2/flair to N4-biascorrected t1ce, save matrix
     *   Registration of N4-biascorrected LPS t1ce to SRI, save matrix
     *   Registration of LPS t1/t1ce/t2/flair (output of st

[2020-05-28 20:12] ashishsingh18 opened #1048 "[Z-Scoring Normalization][CLI] cannot run z scoring normalization from CLI as per documentation"
**Describe the bug**
Cannot run z scoring normalization from CLI as per [documentation](https://cbica.github.io/CaPTk/preprocessing_zScoreNorm.html)

**To Reproduce**
Steps to reproduce the behavior:
1. From the command line, run the command as in example given in the document: https://cbica.github.io/CaPTk/preprocessing_zScoreNorm.html
2. See the error in attached screenshot below

**Expected beh

[2020-05-28 20:21] ashishsingh18 opened #1049 "[z-scoring normalization][GUI] cannot run z-scoring normalization from GUI without mask"
**Describe the bug**
Cannot run z-scoring normalization from GUI without mask.

**To Reproduce**
Steps to reproduce the behavior:
1. Open z-scoring normlization window from Preprocessing->z-scoring normalizer
2. Select Input image
3. Do not select mask( the [documentation ](https://cbica.github.io/CaPTk/preprocessing_zScoreNorm.html)says mask is optional)
4. Provide output path
5. Click on 'confir

[2020-05-28 20:22] ashishsingh18 commented on #1049
If mask is required then documentation should be updated.

[2020-05-29 09:38] mdv63oda commented on #1044
The same happens with the newer version.
Yes it is my own DICOM data

[2020-05-29 16:15] MarkBergman-cbica opened #1050 "Linux installer: re-word instructions"
After running the Linux installer, there is an message about how to run CaPTk. Please change:

<To run CaPTk, locate to where CaPTk is installed and enter the command>

To:

<To run CaPTk, change to the directory where CaPTk is installed and enter the command>

[2020-05-29 16:16] ashishsingh18 opened #1051 "[Deep Learning Segmentation][GUI] multiple popup messages about long running application"
**Describe the bug**
Application throws multiple pop up messages about 'long running application'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Application->Deep Learning segmentation
2. Select 'Brain Tumor Segmentation'
3. Specify output directory
4. See popup messages (screenshots below)

**Expected behavior**
Only 1 popup message should be shown.

**Screenshots**
First popup messa

[2020-05-29 16:21] ashishsingh18 opened #1052 "[Skull Stripping DeepLearning][GUI] multiple popup messages about long running application"
**Describe the bug**
Application throws multiple popup messages about long running application.

**To Reproduce**
Same as #1051

**Expected behavior**
same as #1051

**Screenshots**
same as #1051

**CaPTk Version**: 1.8.0Alpha

**Desktop (please complete the following information):**
 - OS: Windows 10 enterprise x64

[2020-05-29 20:16] sarthakpati commented on #418
For Windows: ```systeminfo```

[2020-05-29 20:20] omaghsoudi commented on #1044
Thank you for your comment. As @sarthakpati mentioned, this should be related to your images and DICOM headers.

Can you please do the follwoing two items?
1) Provide us a sample **anonymized** image by emailing it for us: software@cbica.upenn.edu
2) Try the sample image below:
[Case1.zip](https://github.com/CBICA/CaPTk/files/4704109/Case1.zip)

If it works for the sample image; we need to dig mor